////
/// @group _settings/
////

// Брейкпоинты ширины или высоты экрана
// ---------------------------------

/// Карта брейкпоинтов в пикселях
/// @type Map
$breakpoints: (
  xs: 360px,
  sm: 480px,
  ms: 640px,
  md: 768px,
  def: 1024px,
  lg: 1280px,
  xl: 1366px,
  mg: 1600px,
  hd: 1980px
);
