// Colors
$color-aqua: #71dbd4;
$color-aqua-50: #c0e5e4;
$color-aqua-25: #def6f7;

$color-black: #000;
$color-black-50: #a7a8aa;

$color-brown: #643335;
$color-brown-50: #b39391;

$color-gray: #e1e2e3;
$color-gray-cool: #d9d9d6;

$color-white: #fff;
