////
/// @group _settings/
////

// Шаги для отступов
// ---------------------------------

/// Карта отступов в пикселях
/// @type Map
$gutters: (
  sm: 25px,
  def: 50px,
  lg: 75px,
  xl: 150px
);
