<template>
    <div class="cart-item">
        <div class="cart-item__row">
            <div v-if="editable" class="close-x cart-item__remove" @click="$emit('item-removing',item.id)"></div>
            <a class="cart-item__image-holder" :href="product.url"><img class="cart-item__image" :src="product.image"
                                                                        :alt="product.name"></a>
            <div class="cart-item__name"><span>{{product.name}}</span></div>
        </div>
        <div class="cart-item__row _justify-end">
            <div v-if="editable" class="cart-item__spinner spinner">
                <div class="spinner__button spinner__button--minus" @click="decrement"></div>
                <input type="tel" class="spinner__input" v-model="count"
                       @change="emitModifying">
                <div class="spinner__button spinner__button--plus" @click="increment"></div>
            </div>
            <div v-else="" class="cart-item__count">{{item.count}}&nbsp;{{dictionary[locale].piece}}</div>
            <div v-if="item.is_accessory" class="cart-item__vintage"></div>
            <div v-else="" class="cart-item__vintage">({{item.year}}{{dictionary[locale].year}}) {{item.volume}}{{dictionary[locale].ml}}</div>
            <div class="cart-item__cost">{{item.amountItem}}&nbsp;{{dictionary[locale].currency}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'CartItem',
        props: ['item', 'editable'],
        data () {
            return {
                count: this.item.count,
                product: this.item.product,
                locale: window.getLocale(),
                dictionary: {
                    'en' : {
                        ml: 'ML',
                        currency: 'UAH',
                        piece: 'pieces',
                        year: 'Y'
                    },
                    'ru' : {
                        ml: 'МЛ',
                        currency: 'грн',
                        piece: 'ШТ',
                        year: 'Г'
                    }
                }
            }
        },
        watch: {
            item () {
                this.count = this.item.count
            }
        },
        methods: {
            emitModifying () {
                this.$emit('item-modifying', this.item.id, +this.count)
            },
            increment () {
                this.count += 1
                this.emitModifying()
            },
            decrement () {
                if (this.count <= 1) {
                    this.count = 1
                } else {
                    this.count -= 1
                    this.emitModifying()

                }
            }
        }
    }
</script>
