
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Century Gothic", monospace;
  font-weight: 700;
}

.heading {
  display: flex;
  align-items: center;

  &:first-child {
    margin-top: 0;
  }

  &[data-shadow-text]:before {
    content: attr(data-shadow-text);
    font-size: 2em;
    line-height: 1em;
    letter-spacing: .4em;
    color: $color-aqua-25;
    position: absolute;
    top: 35%;
    left: 0;
    white-space: nowrap;
    max-width: 100%;

    @supports (-webkit-background-clip:text) {
      color: transparent;
      background-image: linear-gradient(90deg, $color-aqua-25, $color-aqua-25 80%, transparent 95%);
      -webkit-background-clip: text
    }

  }
  
  &.has-popover {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;

    .popover {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      &--right {
        right: 0;
      }

      &--left {
        left: 0;
      }
    }
  }

  &.has-popover-out {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;

    @include media(xl) {
      padding-left: 0;
      padding-right: 0;
    }

    .popover {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      &--right {
        right: 0;

        @include media(xl) {
          right: auto;
          left: 100%;
        }
      }

      &--left {
        left: 0;

        @include media(xl) {
          left: auto;
          right: 100%;
        }
      }
    }
  }
}

h1,
.heading--1 {
  @include resp-val(26, 72, 320, 1600);
  letter-spacing: .2em;
  position: relative;
  text-transform: uppercase;
  padding: em(32, 72) 0;
  overflow: hidden;

  span {
    display: inline-block;
    position: relative;
  }
}

h2,
.heading--2 {
  @include resp-val(24, 48, 320, 1600);
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-bottom: em(75, 48);
}

h3,
.heading--3 {
  @include resp-val(18, 24, 320, 1600);
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-bottom: em(50, 24);
}

h4,
.heading--4 {
  @include resp-val(12, 16, 320, 1600);
  letter-spacing: .2em;
  margin-bottom: em(50, 16);
}

h5,
.heading--5 {
  font-size: rem(12);
  letter-spacing: .2em;
  margin-bottom: em(25, 12);
}

.heading--contacts {
  margin: em(70, 72) 0;
}

.heading--form {
  @include resp-val(20, 30, 320, 1600);
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-bottom: em(50, 30);
  text-align: center;
  justify-content: center;
}

.heading--uppercase {
  margin-bottom: em(30, 16);
  text-transform: uppercase;
}

.heading--decor {
  $w: rem(35);
  $p: $w + rem(15);

  & > span {
    position: relative;
    display: inline-block;
    padding: 0 $p;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      z-index: 1;
      display: block;
      width: $w;
      height: 1px;
      background-color: #000;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}

.heading + .button {
  margin-left: rem(30);
  @include media(ms, max) {
    margin-left: auto;
  }
}


