.accordion {
  $this: &;

  &__item {
    &.is-open {
      #{$this}__item {}
      #{$this}__item-heading {}
      #{$this}__item-content {}
      #{$this}__item-beacon {
        &:before,
        &:after {
          transform: rotate(0deg);
        }
      }
    }
  }
  &__item-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: rem(45);
  }
  &__item-content {}
  &__item-beacon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include size(rem(35));
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: calc(50% + 2px);
      left: 0;
      display: block;
      width: rem(35);
      height: 1px;
      background-color: #000;
      transform-origin: center;
      transition: transform .6s ease, background-color .6s ease;
    }

    &:before {
      transform: rotate(-180deg);
    }

    &:after {
      transform: rotate(270deg);
    }
  }
}
