.active-filters {
  $this: &;
  $gap: 40px;

  display: flex;
  flex-wrap: wrap;
  margin-left: -$gap;
  margin-right: -$gap;
  &:empty {
    display: none;
  }
  &__item {
    display: flex;
    align-items: flex-end;
    padding-left: $gap;
    padding-right: $gap;
  }

  &__text {
    display: block;
    margin-right: 10px;
  }

  &__delete {
    position: relative;
    display: block;
    @include size(23px);
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //z-index: 1;
      display: block;
      width: 23px;
      height: 1px;
      margin: auto;
      background-color: #000;
      transform-origin: center;
      transition: background-color .2s ease, width .2s ease;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        background-color: $color-aqua;
      }

      &::before {
        width: 15px;
      }

      &::after {
      }
    }
  }
}
