.breadcrumbs {
  padding: rem(20) 0 rem(25);
  border-bottom: 2px solid rgba(#fff, .15);

  @include media(md) {
    padding: rem(45) 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-aqua;
      text-decoration: underline;
    }
  }

  a,
  span {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;

    @include media(sm) {
      width: auto;
      text-align: left;
    }
  }

  ul {
    padding: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    list-style: none;
    color: #7b7b7b;
    text-transform: uppercase;

    li {
      width: 100%;

      @include media(sm) {
        width: auto;
        margin: 10px 0;
      }

      & + li {
        &::before {
          content: "";
          display: block;
          vertical-align: middle;
          height: 1px;
          background-color: #7b7b7b;
          width: rem(25);
          margin: 10px auto;

          @include media(sm) {
            display: inline-block;
            margin: 0 rem(25);
          }
        }
      }
    }
  }
}
