//sass-ling:disable MixinsBeforeDeclarations
@mixin button-svg-margins($margin: 1.4em, $only-child-margin: auto) {
  &:first-child {
    margin-right: $margin;
  }

  &:last-child {
    margin-left: $margin;
  }

  &:only-child {
    margin: $only-child-margin;
  }
}

@mixin button-state($state: "hover") {
  @if ($state == "hover") {
    &:hover,
    &.is-hovered {
      @content
    }
  } @else if ($state == "active") {
    &:active,
    &.is-active {
      @content
    }
  }
}

.button {
  //sass-lint:disable no-transition-all
  $height: em(65, 16);
  $padding: 0 em(50, 16);
  @include resp-val(12, 16, 320, 1600);
  height: $height;
  background-color: transparent;
  text-transform: uppercase;
  color: #000;
  border: 1px solid transparent;
  padding: $padding;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  text-decoration: none;
  fill: inherit;
  transition: all .2s;

  & > span {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .svgi {
    @include max-size(em(30, 16));
    @include button-svg-margins(1em);
  }

  &--only-icon {
    padding: 0;
    width: $height;
    border-radius: 50%;

    & > span {
      margin: auto;
    }
    @include button-state("hover") {
      background-color: $color-aqua-50;
      fill: $color-white;
    }
    @include button-state("active") {
      background-color: $color-aqua;
      fill: $color-white;

    }
  }

  &--default {
    color: $color-black;
    border-color: $color-black;
    box-shadow: 0 0 0 transparent;

    @include button-state("hover") {
      border-color: $color-aqua;
      box-shadow: 4px 4px 0px $color-aqua;

    }
    @include button-state("active") {
      background-color: $color-aqua-50;
      color: $color-white;
      fill: $color-white;
      border-color: $color-aqua;
    }
  }

  &--white {
    color: $color-white;
    border-color: $color-white;
    @include button-state("hover") {
      border-color: $color-aqua;
    }
    @include button-state("active") {
      background-color: $color-aqua-25;
      color: $color-aqua;
      fill: $color-aqua;
      border-color: $color-aqua;
    }
  }
  &--black {
    color: $color-white;
    border-color: $color-black;
    background-color: $color-black;
    @include button-state("hover") {
      background-color: $color-aqua;
    }
    @include button-state("active") {
      background-color: $color-aqua-25;
    }
  }

  &--filled {
    color: $color-white;
    fill: $color-white;
    background-color: $color-black;

    @include button-state("hover") {
      background-color: $color-aqua;
    }

    @include button-state("active") {
      background-color: $color-aqua-50;
    }
  }

  &--decorated {
    $fz: 16px;
    $padding: 20px;
    $decor-line-width: 125px;
    color: $color-black;
    position: relative;
    padding: 0 rem($padding);
    border: 0;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      transform-origin: left;
      transition: all .3s;
      pointer-events: none;
    }

    &::before {
      height: em(60px, 16);
      width: em(60px, 16);
      background-color: $color-aqua-25;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      border-radius: 50%;
      @include media(def) {
        height: em(90px, 16);
        width: em(90px, 16);
      }

    }

    &::after {
      left: 100%;
      width: em($decor-line-width, $fz);
      top: 52%;
      height: 0;
      border: 1px solid transparent;
      border-bottom-color: $color-black;
    }

    @include button-state("hover") {
      color: $color-aqua;
      fill: $color-aqua;
      border-color: $color-aqua;

      &::before {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }

      &::after {
        transform: scaleX(0);
      }
    }

    @include button-state("active") {
      color: $color-aqua;
    }

    &-line-in {
      padding-right: rem($padding + $decor-line-width);

      &::after {
        left: auto;
        right: 0;
      }

      &:hover {
        &::before {
          width: calc(100% - #{$decor-line-width -  $padding});
        }
      }
    }

    &-line-only {
      padding-left: 0;

      &::before {
        content: none;
      }
    }
    &-line-left {
      padding-right: 0;
      padding-left: $padding;
      &::after {
        left: auto;
        right: 100%;
      }
    }

    @include media(def, max) {
      $decor-line-width: 40px;
      padding-right: rem(60);
      &::after {
        left: calc(100% - #{rem($decor-line-width)});
        width: em($decor-line-width, $fz);
      }
      &-line-left {
        padding-right: 0;
        padding-left: $padding;
        &::after {
          left: auto;
          right: calc(100% - #{rem($decor-line-width)});
        }
      }
    }
  }

  &--circle-decor {
    $fz: 16px;
    $padding: 20px;
    color: $color-black;
    position: relative;
    padding: 0 rem($padding);
    border: 0;
    background-color: transparent;

    &::before {
      content: "";
      display: block;
      position: absolute;
      transform-origin: left;
      transition: all .3s;
      height: em(60px, 16);
      width: em(60px, 16);
      background-color: $color-aqua-25;
      pointer-events: none;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      @include media(def) {
        height: em(90px, 16);
        width: em(90px, 16);
      }
    }
    @include button-state("hover") {
      color: $color-black;
      fill: $color-black;
      border-color: $color-black;

      &::before {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }
  }

  &--in-header {
    font-size: rem(12);
    padding: 0 rem(12);
    min-width: $height;

    .icon-container {
      @include size(em(30, 16));
      @include button-svg-margins(1.2em);
      position: relative;

      .svgi {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transition: transform .3s;

        &:first-child {
          transform-origin: top;
        }

        &:last-child {
          transform-origin: bottom;
          transform: scale(0);
        }
      }
    }

    @include button-state("hover") {
      .icon-container {
        .svgi {
          &:first-child {
            transform: scale(0);
          }
          &:last-child {
            transform: scale(1);
          }
        }
      }
    }

    @include media(sm) {
      padding: 0 rem(16);
    }
  }
  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }
  &.is-loading {
    cursor: progress;
  }
}
