
.close-x {
  height: 1.2em;
  width: 1.2em;
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 1px;
    background-color: #000;
    width: 120%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: transform .3s;
  }

  &::before {
    transform: rotate(135deg);
  }

  &::after {
    transform: rotate(225deg);
  }

  &:hover {
    cursor: pointer;

    &::before,
    &::after {
      background-color: $color-aqua;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.cart {
  position: fixed;
  right: 0;
  top: rem(60);
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: $z-index-cart;
  pointer-events: none;

  &-overlay {
    background-color: rgba(#000, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    visibility: hidden;
    transition: visibility .2s, opacity .2s, border-color .2s;
  }

  .cart-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    padding: rem(20);
    transform: translateX(100%);
    transition: transform .4s;
    overflow: auto;
    @include media(sm) {
      padding: rem(40);
    }

    @include media(md) {
      padding: rem(75);
    }
  }

  &.is-open {
    pointer-events: auto;
    border-top: 1px solid #000;

    .cart-panel {
      transform: translate(0);
    }

    .cart-overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &__header {
    display: flex;
    align-items: center;

    .heading {
      margin-bottom: 0;
      margin-right: auto;
    }
  }

  &__body {
  }

  &__list {
  }

  &__footer {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: rem(50);
    justify-content: flex-end;
    @include media(600px) {
      justify-content: space-between;
    }
  }

  &__footer-cell {
    @include media(600px, min) {
      flex-basis: 280px;
    }
    @include media(600px, max) {
      flex-basis: 65%;
      margin-top: rem(50);

      & + & {
        margin-top: 0;

      }
    }
    @include media(480px, max) {
      flex-basis: 240px;
    }

  }

  &__close-button {
    height: 25px;
    width: 25px;
  }

  &__total-price {
    font-size: rem(48);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2em;
  }
  @include media(def) {
    top: rem(100);
  }
}

.cart-is-open {
  overflow: hidden;
  .layout__header {
    background-color: #fff;
    box-shadow: 1px 0 1px rgba(#000, .3);
  }
}
.checkout-cart-container {
  flex-basis: 50%;
  @include media(def,max){
    flex-grow: 1;
  }
}
.checkout-cart {
  position: sticky;
  top: rem(map-get($gutters, lg));
  &__result-cell {
    padding: rem(25);
    height: rem(75);
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    font-size: rem(12);
    align-items: flex-end;
    text-transform: uppercase;

    b {
      font-size: rem(24);
    }
  }
}
.min-order-summ {
	background: #5c0120;
    color: #fff;
    font-size: rem(20);
    padding: 10px;
    font-weight: 700;
	text-align: center;
}