.cart-item {
  padding: rem(20) rem(25);
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__row {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 5px 0;
  }

  &__image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 120px;
    padding: 0 25px;
    flex-shrink: 0;
  }

  &__image {
    margin: auto;
  }

  &__name {
    flex-grow: 1;
  }

  &__spinner {
    padding: 0 20px;
  }

  &__count {
    padding: 0 20px;
  }

  &__vintage {
    font-size: rem(12);
    color: #000;
    flex-shrink: 0;
    flex-basis: 140px;
    text-align: center;
    padding: 0 20px;
  }

  &__cost {
    font-weight: 700;
    font-size: rem(16);
    flex-shrink: 0;
    flex-basis: 100px;
    padding-left: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__remove {
    height: 18px;
    width: 18px;
    flex-shrink: 0;
  }

  .checkout-cart & {
    padding-left: 0;
    padding-right: 0;

  }
  @include media(600px, max) {
    &__vintage,
    &__cost {
      flex-basis: auto;
    }
    &__spinner {
      padding-left: 0;
    }
  }
  @include media(sm, max) {
    padding-left: 0;
    padding-right: 0;

  }
}

.spinner {
  display: flex;
  min-width: 1px;
  &__button {
    height: 22px;
    width: 22px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: transform .3s;
    transform: translateZ(0);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      margin: auto;
      background-color: #000;
    }
    &:before {

    }
    &--plus {
      &:after {
        transform: rotate(90deg);
      }
    }
    &:hover {
      &:before,
      &:after {
        background-color: $color-aqua;
      }
    }
    &:active {
      transform: scaleX(.8);
    }
  }

  &__input {
    flex-basis: 50px;
    min-width: 30px;
    width: 30px;
    font-size: rem(12);
    margin: 0 10px;
    border: 0;
    text-align: center;
    pointer-events: none;
    appearance: none
  }
}

