.chars {
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    transition: background-color .25s ease;

    &:hover {
      background-color: $color-aqua-25;
    }
  }

  &__key,
  &__val {
    display: block;
    width: 50%;
    padding: 0 10px;
  }

  &__key {}

  &__val {}
}
