.counter {
  display: flex;
  align-items: flex-end;

  &__icon {
    margin-right: 10px;
    @include size(20px);

    .svgi {
      @include max-size(100%);
    }
  }

  &__num {
    color: #000;
    font-size: rem(16);
    font-weight: 700;
  }

  .has-counter & {
    margin-left: rem(55);
  }
}
