.filter {
  $heading-height: 61px;
  $footer-height: 37px;
  $gap-space: 20px;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
  display: block;
  width: 90vw;
  max-width: 300px;
  padding: $heading-height 0 $footer-height;
  background-color: #fff;
  box-shadow: 0 0 40px -5px rgba($color-aqua, .5);
  transform: translateX(-70%);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: transform .3s ease, opacity .3s ease;


  &__heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    padding: 0 rem($gap-space * 3);
    border-bottom: 1px solid $color-aqua-50;
    background-color: #fff;

    @include media(def) {
      display: none;
    }
  }

  &__title {
    display: block;
    padding: 20px 0;
    color: #000;
    @include resp-val(18, 24, 1024, 1600);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__close {
    position: absolute;
    right: rem(10);
    top: 50%;
    z-index: 1;
    display: block;
    @include size(rem(44));
    margin-top: rem(-44 / 2);
    cursor: pointer;
    transition: transform .2s ease;

    .svgi {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      @include max-size(50%);
      margin: auto;
    }

    &:active {
      transform: scale(.6);
    }
  }

  &__body {
    display: block;
    height: 100%;
    padding: 20px $gap-space 10px;
    box-shadow: inset 0 0 10px 3px #fff;
    overflow-y: auto;

    @include media(def) {
      padding: 0;
      height: auto;
      overflow: visible;
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    padding: 0;
    border-top: 1px solid $color-aqua-50;
    background-color: #fff;

    @include media(def) {
      position: static;
      border: none;
      background-color: transparent;
    }
  }

  &__item {
    display: block;
    @include resp-val(35, 75, 1024, 1600, 'margin-bottom');
  }

  &__item-heading {
    display: block;
  }

  &__item-title {
    flex: 1 0 auto;
    display: block;
    margin-right: rem(20);
    color: #000;
    @include resp-val(18, 24, 1024, 1600);
    font-weight: 700;
    text-transform: uppercase;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-content {
    padding-top: rem(40);
  }

  &__item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
      margin-top: rem(10);
    }
  }

  &__item-field {
    flex: 0 1 auto;
    display: block;
    margin-right: rem(20);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    text-decoration: none;

    & > .form-checkbox,
    & > .form-radio {
      max-width: 100%;

      & > span {
        max-width: 100%;
        @include resp-val(10, 25, 1024, 1366, 'margin-left');
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__item-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-count {
    display: block;
    margin-left: rem(5);
    color: #000;
    font-size: rem(16);
    font-weight: 700;
  }

  &__item-hint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: rem(5);
  }

  &__item-hint-circle {
    display: block;
    @include resp-val(12, 25, 1024, 1366, 'width');
    @include resp-val(12, 25, 1024, 1366, 'height');
    margin-right: rem(5);
    border-radius: 50%;
  }

  &__item-hint-icon {
    display: block;
    @include size(rem(26));
    margin-left: rem(5);

    .svgi {
      @include size(100%);
    }
  }

  &__trigger {
    $fz: 16px;
    $padding: 10px;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: em(45, 16);
    color: $color-black;
    padding: 0 rem($padding);
    border: 0;
    background-color: transparent;

    &::before {
      content: "";
      display: block;
      position: absolute;
      transform-origin: left;
      transition: all .3s;
      @include size(em(150px, 16));
      background-color: $color-aqua-25;
      pointer-events: none;
      top: 60px;
      left: -25px;
      bottom: 0;
      right: 0;
      margin: auto;
      border-radius: 0 50px 0 0;
      @include media(def) {
        height: em(90px, 16);
        width: em(90px, 16);
      }
    }

    @include media(def) {
      display: none;
    }

    &:hover {
      color: #fff;

      &::before {
        background-color: $color-brown-50;
      }
    }
  }

  &__result {
    display: block;
    padding: 10px;
    white-space: nowrap;
    background-color: $color-aqua-25;
    box-shadow: 3px 3px 3px rgba($color-aqua, .3);
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity .3s, transform .3s;

    span {
      font-weight: 700;
    }

    a {
      margin-left: 10px;
      color: $color-aqua;
    }

    &.is-shown {
      opacity: 1;
      transform: translateX(0);
    }

    @include media(def) {
      position: absolute;
      left: 100%;
      top: 20px;
      z-index: 100;
    }
  }

  &:after {
    $space: 15px;

    content: '';
    position: absolute;
    top: -$space;
    right: -$space;
    bottom: -$space;
    left: -$space;
    margin: auto;
    background-color: rgba(#000, .3);
    cursor: progress;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s linear;
  }

  &.is-loading {
    &:after {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .filter-is-open & {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  @include media(def) {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: auto;
    max-width: none;
    box-shadow: none;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    overflow: visible;
    padding: 0;
    z-index: 1;
  }
}

.sort-option {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;

  @include media(ms) {
    width: auto;
    margin-bottom: 0;
  }

  select {
    margin-left: 6px;
    border: 1px solid transparent;
    font-family: inherit;
    outline: none;

    &:focus {
      border-color: $color-aqua
    }
  }

  & + & {
    @include media(ms) {
      margin-left: rem(80);
    }
  }
}
