$input-paddings: rem(25);
$input-font-size: rem(12);
$input-line-height: $input-font-size;

.form-group {
  display: block;
  position: relative;
  height: $input-paddings * 2 + $input-line-height;
  color: $color-black;
  width: 100%;

  & + & {
    margin-top: rem(50);
  }

  &.in-focus {
    .line {
      transform: scaleX(1);
    }
  }

  .line {
    display: block;
    position: absolute;
    background-color: $color-aqua;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .3s;
    z-index: 1;
  }

  &--textarea {
    height: auto;

    .form-control {
      position: static;
      display: block;
      height: 75px;
      min-height: 75px;
      line-height: 1.5;
      resize: vertical;

      &:focus,
      &.is-dirty {
        & ~ .form-label {
          top: -$input-paddings;
        }
      }
    }

    .form-label {
      top: rem(40);
    }
  }

  select,
  input {
    width: 100%;
    max-width: 100%;
  }

  &.has-error {
    margin-bottom: rem(20px);
    .help-block,
    .error-help-block {
      background-color: $color-brown;
    }
  }

  &.has-success {
    .help-block,
    .error-help-block {
      background-color: $color-aqua;
      transform: scaleY(0);
    }
  }
}

.form-label {
  position: absolute;
  top: $input-paddings;
  left: 0;
  right: 0;
  margin: auto;
  height: 1em;
  font-size: $input-font-size;
  line-height: 1em;
  color: $color-black;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  transition: color .3s, top .3s, left .3s;
}

.form-control {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: rem(20) $input-paddings;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $color-black;
  color: $color-black;
  text-align: center;
}

.form-control:focus ~ .line,
.form-control.is-dirty ~ .line {
  transform: scaleX(1);
}

.form-control:focus ~ .form-label,
.form-control.is-dirty ~ .form-label {
  top: -$input-paddings / 1.5;
  color: $color-aqua;
}

.form-control:focus ~ .help-block,
.form-control:focus ~ .error-help-block {
  transform: scaleY(0);
}

._dark-bg {
  .form-control,
  .form-label,
  .form-group {
    color: $color-white;
  }

  .form-control {
    border-bottom: 1px solid $color-white;
  }
}

.form-checkbox,
.form-radio {
  $fz: 16px;
  font-size: rem($fz);
  display: inline-flex;
  align-items: center;
  transition: all .2s;
  position: relative;

  & + & {
    margin-top: rem(25);
  }

  i {
    display: block;
    height: em(26, $fz);
    width: em(26, $fz);
    border: 1px solid $color-black;
    position: relative;
    overflow: hidden;
    transition: background-color .3s;
    flex-shrink: 0;

    &::before {
      content: "";
      display: block;
      border: 2px solid transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: em(26, $fz);
      width: em(26, $fz);
      transform-origin: bottom left;
      transform: rotate(-60deg) skew(-34.5deg);
      transition: border-color .3s;
    }
  }

  span {
    padding-left: em(26, $fz);
  }

  input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked {
      & ~ i {
        background-color: $color-black;

        &:before {
          border-color: $color-white;
        }
      }
    }
    &[disabled] {
      & ~ i {
        opacity: .3;
        cursor: not-allowed;
      }
      & ~ span {
        cursor: not-allowed;
        text-decoration: line-through;
      }
    }
  }

  &:hover {
    color: $color-aqua;
    transition: all .2s;
    cursor: pointer;

    i {
      &:before {
        border-color: $color-aqua;
      }
    }
  }

  &--disabled {
    opacity: .3;
    pointer-events: none;
    text-decoration: line-through;
  }
}

.form-radio {
  i {
    border-radius: 50%;
    background-color: #fff;

    &:before {
      display: none;
    }
  }
  input {
    &:checked {
      & ~ i {
        background-color: #000000;
        box-shadow: inset 0 0 0 4px #fff;
      }
    }
  }
}

.form {
  .event-registration-success {
    color: #71dbd4;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
  }

  &-footer {
    margin-top: map-get($gutters, def);
    display: flex;
    justify-content: center;
  }

  &--subscribe {
    width: 100%;
    max-width: rem(520);
  }

  &--reviews {
    max-width: 700px;
    margin: auto;
    margin-top: rem(50);

    .heading {
      justify-content: center;
      text-align: center;
    }

    @include media(md) {
      margin-top: rem(100);
    }
  }

  &--callback {
    max-width: 720px;
    margin: auto;
    margin-top: rem(75);

    .heading {
      justify-content: center;
      text-align: center;
      margin-bottom: rem(40);
    }

    @include media(md) {
      margin-top: rem(150);

      .heading {
        margin-bottom: rem(75);
      }
    }
  }

  &--events {
    max-width: 750px;
    margin: auto;
    margin-top: rem(50);

    .heading {
      justify-content: center;
      text-align: center;
    }

    @include media(md) {
      margin-top: rem(100);
    }
  }

  &--all-reviews {
    .heading {
      justify-content: center;
    }
  }

  &--pass-reset {
    max-width: 768px;
    margin: 0 auto;

    .heading {
      justify-content: center;
    }
  }
}

.help-block,
.error-help-block {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 2px 6px;
  color: #fff;
  font-size: rem(14);
  text-align: center;
  transform-origin: 50% 0;
  transition: transform .3s ease, background-color .3s ease, color .3s ease;
}

/* @group Base */
.chosen-container {
  max-width: 100%;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-color: #000;

  .chosen-drop {

  }
  &.chosen-with-drop .chosen-drop {

  }
  a {

  }

  .search-choice, .chosen-single {
    .group-name {

      &:after {

      }
    }
  }
  & + label {
    display: none;
  }
}

/* @end */

/* @group Single Chosen */
.chosen-container-single {
  .chosen-single {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #000;
    color: #000;
    text-transform: uppercase;
    font-size: rem(12);

    input[type="text"] {
    }
  }
  .chosen-default {
  }
  .chosen-single span {
    margin: auto;
  }
  .chosen-single-with-deselect span {
  }
  .chosen-single abbr {

    &:hover {
    }
  }
  &.chosen-disabled .chosen-single abbr:hover {
  }
  .chosen-single div {
    display: flex;

    b {
      background: none;
      width: auto;
      margin: auto;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #000 transparent transparent transparent;

    }
  }
  .chosen-search {

    input[type="text"] {

    }
  }
  .chosen-drop {

  }
  &.chosen-container-single-nosearch .chosen-search {

  }
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
}

/* @end */
