.gmap {
  position: relative;
  display: block;
  max-width: 1160px;
  // height: 60vmin;
  max-height: 540px;
  margin: 0 auto rem(50);

  @media screen and (orientation: portrait) {
    height: 60vmax;
  }
  @media screen and (orientation: landscape) {
    height: 60vmin;
  }

  .preloader-container {
    position: absolute;
    background-color: #f5f5f5;
  }

  &--where-buy {}
}
