.svgi--logo {
  @include max-size(100%);
  fill: $color-black;

  ._dark-bg & {
    fill: $color-white
  }
}

.main-logo {
  @include size(100%);
  @include max-size(45px, 45px);
  margin-right: auto;
  position: relative;
  display: block;

  @include media(sm) {
    @include max-size(120px, 45px);
  }
}

a.main-logo {
  &:hover {
    .svgi--logo {
      fill: $color-aqua;
    }
  }
}

.navigation-menu-burger--header span {
	position: absolute;
    top: 50%;
    text-decoration: none;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #000;
	font-family: "Century Gothic", monospace;
	font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
	padding-right: 10px;
}

#cart-button {
  span > span {
    &:before {
      content: attr(data-currency-sign);
      font-size: 1em;

    }
  }
}

.lang-switcher{
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  display: inline-block;
  padding-left: 50px;
}
