// START __ elastic и calcElastick предположительно (по состоянию на 07.02.2018) используются только в этом файле
@function calcElastick($val-min, $val-max, $viewport-min, $viewport-max, $viewportUnits: vw, $units: px) {
  // ------- prepare incoming data -------
  $val-min: strip-units($val-min);
  $val-max: strip-units($val-max);
  $viewport-min: strip-units($viewport-min);
  $viewport-max: strip-units($viewport-max);
  // ------- END prepare incoming data -------

  $k: ($val-max - $val-min)/($viewport-max - $viewport-min);
  $b: $val-min - $k * $viewport-min;

  $b: $b + $units;

  @return calc( #{$k} * #{100+$viewportUnits} + #{$b} );
}

@mixin elastic($val-min, $val-max, $viewport-min, $viewport-max, $prop-name: 'font-size', $enableOrientationQueries: 'false', $units: px, $fallback: true) {
  // ------- prepare incoming data -------
  $val-min: strip-units($val-min);
  $val-max: strip-units($val-max);
  $viewport-min: strip-units($viewport-min);
  $viewport-max: strip-units($viewport-max);
  // ------- END prepare incoming data -------


  @if ($enableOrientationQueries == 'true') {
    @media screen and (orientation: portrait) and (min-width: #{($viewport-min * 1px)} - 1) {
      @if ($fallback) {
        #{$prop-name}: (($val-min + $val-max) / 2) + $units;
      }
      #{$prop-name}: calcElastick($val-min, $val-max, $viewport-min, $viewport-max, 'vmin', $units);
    }

    @media screen and (orientation: landscape) and (min-width: #{($viewport-min * 1px)} - 1) {
      @if ($fallback) {
        #{$prop-name}: (($val-min + $val-max) / 2) + $units;
      }
      #{$prop-name}: calcElastick($val-min, $val-max, $viewport-min, $viewport-max, 'vmin', $units);
    }

    @media screen and (orientation: landscape) and (min-width: 1279px) and (min-height: 600px) {
      @if ($fallback) {
        #{$prop-name}: (($val-min + $val-max) / 2) + $units;
      }
      #{$prop-name}: calcElastick($val-min, $val-max, $viewport-min, $viewport-max, 'vmax', $units);
    }
  } @else {
    #{$prop-name}: $val-min + $units;

    @include media($viewport-min * 1px) {
      @if ($fallback) {
        #{$prop-name}: (($val-min + $val-max) / 2) + $units;
      }
      #{$prop-name}: calcElastick($val-min, $val-max, $viewport-min, $viewport-max, 'vw', $units);
    }

    @include media($viewport-max * 1px) {
      #{$prop-name}: $val-max + $units;
    }
  }
}
// END __ elastic и calcElastick предположительно (по состоянию на 07.02.2018) используются только в этом файле

$hero-screen-fz: 30px;

.hero-slider {
  position: relative;
  overflow: hidden;

  &__slides:not(.slick-initialized) {
    .hero-screen:not(:first-child) {
      display: none !important;
    }
  }
}

.hero-screen {
  height: 100vh;
  width: 100%;
  position: relative;
  display: block !important;
  $fz: $hero-screen-fz;

  &__container {
    @include elastic(10, $fz, 320, 1920, 'font-size', 'true');
    position: absolute;
    width: em(980, $fz);
    max-height: em(980, $fz);
    top: rem(100);
    bottom: rem(115);
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    fill: #fff;
  }

  &__square-holder {
    width: 100%;
    max-width: em(715, $fz);
    max-height: 100%;
    margin: auto;
    position: relative;

    .hero-slider--adult & {
      display: none;
    }
  }

  &__square {
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding-top: 100%;

  }

  &__circle {
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translateZ(0);
  }

  &__title {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    font-size: em(48, $fz);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  &__slogan {
    position: fixed;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    color: #000;
    font-size: rem(16);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;

    @media screen and (orientation: portrait) {
      bottom: 10vmin;
    }

    @media screen and (orientation: landscape) {
      top: 10vmin;
    }

    @media screen and (min-height: 640px) and (min-width: 640px) {
      top: auto;
      bottom: 7vmin;
    }

    .hero-slider--adult & {
      color: #fff;
    }
  }

  &__parallax-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__parallax-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    .svgi {
      @include size(100%)
    }
  }

  &__parallax-bg {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    height: 110%;

  }

  &__logo {
    display: block;
    margin: em(25, $fz) 0 em(25, $fz);

    @media screen and (min-height: 480px) {
      margin: em(90, $fz) 0 em(110, $fz);
    }

    .svgi {
      display: block;
      margin: 0 auto;
      width: em(275, $fz);
      height: em(100, $fz);
    }
  }

  &__adult {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    pointer-events: auto;

    @media screen and (min-width: 1366px), screen and (min-height: 600px) {
      max-width: em(715, $fz);
      max-height: em(715, $fz);
    }
  }

  &__adult-content {
    display: block;
  }

  &__adult-reason {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: rem(16);
    font-weight: 400;
    letter-spacing: 0.1em;

    @media screen and (min-height: 480px) {
      max-width: 80%;
    }
  }

  &__button {
    $width: rem(300);
    position: absolute;
    @include resp-val(20, 50, 480, 1366, 'bottom');
    left: 50%;
    letter-spacing: .2em;
    transform: translate(-50%);
    pointer-events: all;
    width: $width;
    padding: 0;
    transition-duration: .5s;

    .is-loading & {
      opacity: 0;
      transform: translate(-50%, 50%);
      pointer-events: none;
    }
    .slide-is-changing & {
      opacity: 0;
      pointer-events: none;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      transition: transform .3s;
      background-color: $color-black;
    }

    &::after {
      top: 100%;
      width: 1px;
      @include resp-val(20, 50, 480, 1366, 'height');
      position: absolute;
      transform-origin: top;
    }

    &::before {
      bottom: 0;
      transform-origin: bottom;
      transform: scaleY(0);
      width: 100%;
      height: 100%;
    }

    &:hover {
      color: $color-white;

      &::before {
        transform: scaleY(1);
      }

      &::after {
        transform: scaleY(0);
      }
    }
  }

  .svgi {
    stroke: $color-white;
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    fill: transparent;

    &--404 {
      stroke-dasharray: 1300;
      stroke-dashoffset: 1300;
    }
  }

  .ready & .svgi {
    animation: draw-logo-reverse 1s ease forwards;
  }

  .ready &.draw .svgi {
    animation: draw-logo 5s forwards;
  }

  .ready & .svgi--404 {
    animation: draw-logo-404-reverse 1s forwards;
  }

  .ready &.draw .svgi--404 {
    animation: draw-logo-404 3s forwards;
  }
}

@keyframes draw-logo {
  0% {
    stroke-dashoffset: 600;
    fill: transparent;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    fill: $color-white;
    stroke-dashoffset: 0;
  }
}

@keyframes draw-logo-reverse {
  0% {
    fill: $color-white;
    stroke-dashoffset: 0;
  }
  10% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 560;
    fill: transparent;
  }
}

@keyframes draw-logo-404 {
  0% {
    stroke-dashoffset: 1300;
    fill: transparent;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    fill: $color-white;
    stroke-dashoffset: 0;
  }
}

@keyframes draw-logo-404-reverse {
  0% {
    fill: $color-white;
    stroke-dashoffset: 0;
  }
  10% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1300;
    fill: transparent;
  }
}

.hero-decoration {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: $color-gray;
  $fz: $hero-screen-fz;

  .hero-slider--adult & {
    background-image: url("/images/hero-inner-bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .3);
    }
  }

  &__circle {
    display: block;
    border-radius: 50%;
    position: absolute;
    transition: all .3s linear;

    .is-loading & {
      opacity: 0;
    }

    .ready & {
      animation: double-scale 10s alternate-reverse infinite;
    }

    &--1 {
      left: em(-70, $fz);
      bottom: em(-70, $fz);
      width: em(232, $fz);
      height: em(232, $fz);
      animation-delay: 0s;
    }

    &--2 {
      left: em(-80, $fz);
      top: em(-150, $fz);
      width: em(415, $fz);
      height: em(415, $fz);
      animation-delay: 2s;
    }

    &--3 {
      right: em(-320, $fz);
      top: em(-100, $fz);
      width: em(666, $fz);
      height: em(666, $fz);
      animation-delay: 4s;
    }

    &--4 {
      height: em(122, $fz);
      width: em(122, $fz);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      transform-origin: center;
      transform: rotate(-130deg) translateX(em(715,$fz)/2);
      animation: none !important;
    }

    &--5 {
      height: em(84, $fz);
      width: em(84, $fz);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      transform-origin: center;
      animation: none !important;
      transform: rotate(50deg) translateX(em(715,$fz)/2);
    }

    .hero-slider--aqua & {
      background-color: $color-aqua-25;

      &--3 {
        background-color: $color-aqua-50;
      }

      &--4 {
        background-color: $color-aqua;
      }

      &--5 {
        background-color: $color-aqua;
      }
    }

    .hero-slider--gray & {
      background-color: #efefe9;

      &--3 {
        background-color: $color-gray-cool;
      }
      &--4 {
        background-color: #cac5aa;
      }
      &--5 {
        background-color: #cac5aa;
      }
    }

    .hero-slider--brown & {
      background-color: #e1e3e4;

      &--1 {
        background-color: #e4c9c7;
      }

      &--2 {
        background-color: #e4c9c7;
      }

      &--3 {
        background-color: #b48683;
      }

      &--4 {
        background-color: #643335;
      }

      &--5 {
        background-color: #643335;
      }
    }

    .hero-slider--adult & {
      background-color: $color-aqua-25;

      &--3 {
        background-color: $color-aqua-50;
      }

      &--4 {
        @media screen and (max-width: 1024px), screen and (max-height: 680px) {
          display: none;
        }
      }

      &--5 {
        @media screen and (max-width: 1024px), screen and (max-height: 680px) {
          display: none;
        }
      }
    }
  }
}

.leaf {
  $fz: $hero-screen-fz;

  position: absolute;
  left: 0;
  top: 0;
  transition: opacity .3s ease;

  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: scale(.9);

  }

  @media only screen and (max-height: 360px) {

  }

  &--1 {
    transform: translate(em(175, $fz), em(-165, $fz));
    @include max-size(em(208, $fz), em(214, $fz));

    img {
      transform-origin: 60% 30%;
    }

    @media only screen and (max-height: 360px) {
      transform: translate(em(145, $fz), em(-135, $fz));
    }
  }

  &--2 {
    transform: translate(em(-175, $fz), em(205, $fz));
    @include max-size(em(208, $fz), em(214, $fz));

    img {
      transform-origin: 43% 60%;
    }

    @media only screen and (max-height: 360px) {
      transform: translate(em(-135, $fz), em(165, $fz));
    }
  }

  &--3 {
    transform: translate(em(-140, $fz), em(-190, $fz));
    @include max-size(em(243, $fz), em(237, $fz));

    img {
      transform-origin: 45% 30%;
    }

    @media only screen and (max-height: 360px) {
      transform: translate(em(-110, $fz), em(-160, $fz));
    }
  }
}

.buble {
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity .3s ease;
  $fz: $hero-screen-fz;

  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: scale(.9);
  }

  &--1 {
    transform: translate(em(145, $fz), em(-185, $fz));
    @include max-size(em(128, $fz), em(129, $fz));

    @media only screen and (max-height: 360px) {
      transform: translate(em(140, $fz), em(-165, $fz));
    }
  }

  &--2 {
    transform: translate(em(-175, $fz), em(205, $fz));
    @include max-size(em(126, $fz), em(127, $fz));

    @media only screen and (max-height: 360px) {
      transform: translate(em(-135, $fz), em(165, $fz));
    }
  }

  &--3 {
    transform: translate(em(70, $fz), em(125, $fz));
    @include max-size(em(143, $fz), em(141, $fz));

    @media only screen and (max-height: 360px) {}
  }

  &--4 {
    transform: translate(em(-70, $fz), em(-150, $fz));
    @include max-size(em(140, $fz), em(140, $fz));

    @media only screen and (max-height: 360px) {}
  }
}

.bottle {
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity .3s ease;
  $fz: $hero-screen-fz;

  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1);
  }

  &--1 {
    transform: translate(em(-175, $fz), em(-30, $fz));
    @include max-size(em(135, $fz), em(547, $fz));

    @media only screen and (max-height: 360px) {
      @include max-size(em(105, $fz), em(517, $fz));
    }
  }

  &--2 {
    transform: translate(em(-10, $fz), em(-5, $fz));
    @include max-size(em(172, $fz), em(724, $fz));

    @media only screen and (max-height: 360px) {
      @include max-size(em(142, $fz), em(694, $fz));
    }
  }

  &--3 {
    transform: translate(em(160, $fz), em(-30, $fz));
    @include max-size(em(136, $fz), em(560, $fz));

    @media only screen and (max-height: 360px) {
      @include max-size(em(106, $fz), em(530, $fz));
    }
  }
}

@keyframes leaf {
  from {
    transform: scale(.9);

  }
  50% {
    transform: scale(.7);
  }
  to {
    transform: scale(1);
  }
}

@keyframes double-scale {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

.svgi--innerLogo-blog,
.svgi--innerLogo-about,
.svgi--innerLogo-brands {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
}

//
//.svgi--innerLogo1,
//.svgi--outerLogo1,
//.svgi--innerLogo2,
//.svgi--outerLogo2 {
//
//  width: 100%;
//  height: 100%;
//}
