/* Стили для infoWindow окошка в гугл карте */

// .gm-style > div > div:nth-child(4) > div:nth-child(4) > div {
//   width: 350px !important;
// }
// .gm-style > div > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) {
//   display: none !important;
// }
.gm-style > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div {
  width: 350px !important;
  height: auto !important;
}
.gm-style > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div > div:nth-child(1) {
  display: none !important;
}
.gm-style .gm-style-iw {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}
.gm-style .gm-style-iw > div {
  overflow: visible !important;
}
.gm-style .gm-style-iw > div > div {
  overflow: visible !important;
}
.gm-style-iw + div {
  display: none !important;
  top: 15px !important;
  right: 15px !important;
}

.iw {
  position: relative;
  z-index: 1;
  display: block;
  width: 350px;
  // box-shadow: 0 3px 40px 0 rgba(156, 156, 156, 0.62);
  background-color: #fff;
  color: #000;
  font-family: "Century Gothic", monospace;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 300ms;

  &:after {
    content: '';
    position: absolute;
    top: calc(100% - 15px);
    right: calc(50% - 15px);
    z-index: 0;
    display: block;
    width: 26px;
    height: 26px;
    box-shadow: inherit;
    background-color: inherit;
    transform: rotate(45deg);
  }

  &.is-hidden {
    opacity: 0;
    transform: translateY(30px);
  }

  &__heading {
    position: relative;
    z-index: 1;
    padding: rem(20) rem(10);
    background-color: #fff;
  }

  &__body {
    position: relative;
    z-index: 1;
    padding: 0 rem(30) rem(30);
    background-color: #fff;
  }

  &__block {
    display: block;

    & + & {
      margin-top: rem(20);
    }
  }

  &__lines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__img-wrap {
    flex: 0 0 25%;
    padding: rem(10);
  }

  &__img {
    position: relative;
    display: block;
    @include size(57px);
    margin: 0 auto;
    border: 1px solid #878588;
    border-radius: 50%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      max-width: 57px !important;
      // max-height: 57px !important;
      min-width: 100%;
      // min-height: 100%;
      margin: auto;
    }
  }

  &__city {
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}
