.layout {
  // Повесил overflow-x: hidden на body. Нужно для того чтоб работал position: sticky
  /*overflow: hidden;*/

  &__header {
    position: fixed;
    height: rem(60);
    padding: rem(10) rem(20);
    top: 0;
    right: 0;
    max-width: 100%;
    left: 0;
    margin: auto;
    color: $color-black;
    fill: $color-black;
    z-index: $z-index-header;
    display: flex;
    align-items: center;
    transform: translateY(0) translateZ(0);
    transition: transform .3s linear, background-color .3s;
    background-color: rgba($color-white, .9);

    .nav-menu-is-open & {
      // background-color: rgba(#c6f6f7, .95);
      background-color: transparent;
    }

    &.site-search-is-open {
      transform: translateY(-100%) translateZ(0);
    }

    &--black {
      background-color: $color-black;
      color: $color-white;
      fill: $color-white;
    }

    .is-loading & {
      transform: translateY(-100%);
    }

    .page-on-top & {
      background-color: transparent;
    }

    .shop-button {
      padding: 0 rem(20) !important;
      max-height: 100%;
    }

    .burger-button {
      display: none;

      @media screen and (max-width: 1024px), screen and (max-height: 601px) {
        display: block;
      }
    }
  }

  &__body {
    padding: rem(map-get($gutters, lg)) 0;

    .layout-body-is-empty & {
      padding: 0;
    }

    @include media(md) {
      padding: rem(map-get($gutters, xl)) 0;
    }
  }

  &__footer {
    position: relative;
    z-index: $z-index-footer;
    background-color: $color-black;
    color: $color-white;

    .layout-body-is-empty & {
      display: none;
    }

    .nav-menu-is-open & {
      z-index: 6;
    }
  }

  @include media(def) {
    &__header {
      height: rem(100);
      padding: rem(10) rem(80);

      .button + .button {
        margin-left: rem(10);
      }

      .shop-button {
        margin: 0 rem(75) !important;
        width: 150px;
      }
    }
  }

  @include media(ms, max) {
    .button {
      & > span {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

        & > .icon-container {
          margin: 0;
          flex-basis: 100%;
        }
      }
    }
  }
}


