.popup {
  overflow-x: hidden;

  .form {
    padding: 0 20px;
    max-width: 520px;
    margin: 0 auto;
  }

  &__button {
    margin: rem(50) 0;
    text-align: center;
  }

  &__help {
    letter-spacing: .2em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__registration {
    text-transform: uppercase;
    position: relative;
    &::after {
      content: '';
      display: none;
      position: absolute;
      top: 50%;
      right: -25px;
      width: 101px;
      height: 1px;
      background-color: #000;
      @include media(ms) {
        display: block;
      }
    }
  }

  &__incoming {
    letter-spacing: .2em;
    font-size: 12px;
    text-transform: uppercase;
  }

  .heading--2 {
    justify-content: center;
    text-align: center;
  }

  a {
    color: #000;
    text-decoration: none;
    transition: all .2s;
    &:hover {
      color: #71dbd4;
      transition: all .2s;
    }
  }

  &--login {
    padding: rem(40) 0;
    max-width: 640px;
    margin: auto;
    @include media(sm) {
      padding: rem(100) 0;
    }
  }

  &--signin {
    padding: rem(40) 0;
    max-width: 640px;
    margin: auto;
    @include media(sm) {
      padding: rem(100) 0;
    }
  }
}
