.manager-card {
  $this: &;

  display: block !important;
  width: rem(350) !important;
  margin: 0 auto;
  box-shadow: 0 3px 40px -21px #000;

  &__image-container {}

  &__image {
    display: block;
    width: 100%;
    height: rem(350);
    overflow: hidden;
    outline: none;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: rem(25);
    padding-bottom: rem(5);
  }

  &__name {
    display: block;
    margin-bottom: 10px;
    color: $color-black;
    font-size: rem(24);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    outline: none;
    letter-spacing: 2px;
    transition: .3s ease-in;
  }

  &__position {
    display: block;
    max-width: 300px;
    margin: 0 auto 10px;
    color: $color-black;
    font-size: rem(16);
    font-weight: 400;
    text-align: center;
  }

  &__email {
    display: block;
    margin-bottom: 10px;
    color: $color-black;
    font-size: rem(16);
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $color-aqua;
      text-decoration: underline;
    }
  }

  &:hover {
    box-shadow: 0 3px 40px -12px $color-aqua;

    #{$this}__name {
      color: $color-aqua;
    }
  }
}
