.media-page {
  &__date {
    // margin-bottom: rem(100);
    font-size: em(20);
    line-height: em(20);
    letter-spacing: .2em;
    font-weight: 700;
    text-align: center;
  }

  &__main-image {
    margin-bottom: rem(50);
  }

  &__text {
    margin-bottom: rem(100);
  }
}
