.media-cards-filter {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: 700;
  margin: rem(-15);
  margin-bottom: rem(100);

  .tag {
    padding: rem(15);
    text-decoration: none;
    color: #000;
    transition: color .2s;

    &.is-active {
      color: $color-aqua;
    }

    &:hover {
      color: $color-aqua;
      text-shadow: 0 1.2em 0 $color-aqua-50, 0 2.4em 0 $color-aqua-25;
    }
  }
}

.media-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.media-card {
  @include resp-val(10, 16, 768, 1600);
  $this: &;
  $gutter: em(25);
  $image-width: em(470);
  $overlapping: em(75);
  display: flex;
  max-width: 100%;

  & + & {
    margin-top: $gutter * 2;
    @include media(lg) {
      margin-top: em(100);
    }
  }

  &__image-container {
    width: $image-width;
    flex-basis: $image-width;
    background: $color-aqua-25 url("/images/placeholder.jpg") center;
    background-size: cover;
    align-self: flex-start;

  }

  &__image {
    display: block;
    height: 0;
    padding-top: em(330) / $image-width * 100%;
    position: relative;
    overflow: hidden;

    img {
      @include max-size(100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transition: transform .5s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__content {
    padding: $gutter;
    width: $image-width;
    flex-basis: $image-width;
    flex-shrink: 0;
  }

  &__date {
    margin-bottom: em(25);
  }

  &__title {
    display: block;
    $fz: 24;
    color: $color-black;
    font-size: em($fz);
    line-height: em(36, $fz);
    max-height: em(36*3, $fz);
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $color-aqua;
    }
  }

  &__tag {
    $fz: 16;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: em(16, $fz);
    text-transform: uppercase;
    height: em(65, $fz);
    color: $color-white;
    background-color: rgba($color-black, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 em(10, $fz);
    min-width: rem(235);
    font-weight: 700;
    letter-spacing: .2em;
    max-width: 70%;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include media(ms, max) {
      height: em(40, $fz);
      min-width: 0;
      //width: 100%;
      max-width: 100%;
    }
  }

  &--type-1 {
    #{$this} {
      &__content {
        padding-bottom: 2 * $overlapping;
      }
    }

    &:nth-child(2n) {
      align-self: flex-end;

      @include media(mg) {
        margin-top: -$overlapping;
      }
    }
  }

  &--type-2 {
    #{$this} {
      &__content {
        padding-top: 2 * $overlapping;
      }
    }

    &:nth-child(2n - 1) {
      align-self: flex-end;
      z-index: 1;

    }

    &:nth-child(2n) {
      align-self: flex-start;

      @include media(mg) {
        margin-top: -$overlapping;
      }
    }
  }

  &--type-1,
  &--type-2 {
    @include media(md, max) {
      align-self: flex-start;
      flex-wrap: wrap;

      #{$this} {
        &__image-container {
          flex-basis: 160px;
          flex-grow: 1;
        }

        &__content {
          padding: $gutter;
          flex-grow: 2;
        }
      }
    }
  }

}
