.navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#c6f6f7, .95);
  z-index: $z-index-navigation-menu;
  opacity: 0;
  transform: translateX(-30%);
  transition: transform .4s, opacity .4s;
  pointer-events: none;
  // overflow: auto;

  &.is-open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  &__inner {
    height: 100%;
    overflow: auto;
    padding: rem(100) rem(130) rem(100);
    @include media(md, max) {
      padding: rem(50) rem(0) rem(20);
    }
  }

  &__social-networks {
    display: none;

    @media screen and (max-width: 1024px), screen and (max-height: 601px) {
      position: absolute;
      bottom: rem(10);
      right: rem(10);
      z-index: 4;
      display: block;
    }
  }

  .menu-list {
    position: relative;
    padding: 0;
    list-style: none;
    font-size: rem(24);
    margin: auto;
    text-align: center;

    &.inner-level-opened {
      font-size: rem(10);
      li {
        padding: rem(5) 0;
      }
    }

    .menu-plus {
      position: absolute;
      top: 0;
      left: 100%;
      flex: 0 0 2em;
      height: 100%;
      width: 1.2em;
      cursor: pointer;
      margin-left: 10px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: calc(50% + 2px);
        left: 0;
        display: block;
        width: 1em;
        height: 1px;
        background-color: #000;
        transform-origin: center;
        transition: transform .6s ease, background-color .6s ease;
      }

      &:before {
        transform: rotate(-180deg);
      }

      &:after {
        transform: rotate(270deg);
      }

      &:hover {
        &:before,
        &:after {
          background-color: $color-aqua;
        }
      }
    }

    ul {
      // outline: 1px solid;
      min-width: 250px;
      min-height: 100%;
      padding: 0;
      margin: auto;
      list-style: none;
    }

    li {
      //height: rem(30);
      line-height: rem(30);
      font-size: 1em;
      font-weight: 700;
      letter-spacing: .2em;
      text-transform: uppercase;
      transition: font-size .4s linear, padding .4s linear;
      padding: rem(10);

      & > ul {
        flex-basis: 100%;
      }

      &.is-open {
        font-size: rem(24);
        padding: rem(55) 0;
        .menu-plus {
          &:before,
          &:after {
            transform: rotate(0deg);
          }
        }
        .menu-item-holder {
          &:before{
            transform: scaleX(1);
          }
        }

        ul {
          padding: 20px 0;
        }

        li {
          font-size: rem(18);
          // padding: 20px 0;
        }
      }

    }

    & > li {
      ul {
        display: none;
      }
    }

    a {
      position: relative;
      display: block;
      //width: 100%;
      color: inherit;
      text-decoration: none;
      white-space: nowrap;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(100% + 10px);
        display: none;
        width: 100px;
        height: 1px;
        margin: auto;
        background-color: #000;
      }
      &:hover {
        color: $color-aqua;
      }
    }
    .menu-item-holder {
      display: flex;
      justify-content: center;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: calc(100% + 10px);
        height: 1px;
        width: 1em;
        margin: auto;
        background-color: $color-black;
        transform-origin: right;
        transition: transform .4s;
        transform: scaleX(0);
      }
    }
  }
}

.navigation-menu-trigger {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.navigation-menu-burger {
  $this: &;

  position: relative;
  display: block;
  width: 58px;
  height: 21px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .2s ease, width .2s ease, height .2s ease;

  @include media(sm) {
    width: 50px;
    height: 50px;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: 45px;
    width: 25px;
    margin: auto;
    transition: transform .3s ease;

    & > span {
      position: relative;
      display: block;
      width: 3px;
      height: 45px;
      background-color: $color-aqua;
      transform-origin: 2px 35px;
      transition: opacity .3s ease, transform .3s ease;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
      }

      &:nth-child(1) {
        height: 45px;

        &:before {
          transition: height .2s ease .25s;
        }
      }
      &:nth-child(2) {
        height: 32px;

        &:before {
          transition: height .2s ease .15s;
        }
      }
      &:nth-child(3) {
        height: 41px;

        &:before {
          transition: height .2s ease .0s;
        }
      }
    }
  }

  &--header {
    #{$this}__inner {
      flex-direction: column;
      justify-content: space-between;
      width: 26px;
      height: 21px;

      @include media(sm) {
        width: 35px;
      }

      & > span {
        height: 1px;
        width: 26px;

        @include media(sm) {
          width: 35px;
        }

        &:before {}
        &:nth-child(1) {
          width: 22px;
          @include media(sm) {
            width: 31px;
          }
        }
        &:nth-child(2) {
          width: 13px;
          @include media(sm) {
            width: 22px;
          }
        }
        &:nth-child(3) {
          width: 26px;
          @include media(sm) {
            width: 35px;
          }
        }
      }
    }
  }

  .nav-menu-is-open & {
    width: 36px;
    height: 36px;
    background-color: #b7f9f4;

    @include media(sm) {
      width: 78px;
      height: 78px;
    }

    #{$this}__inner {
      justify-content: space-between !important;
      transform: rotate(-360deg);

      & > span {
        background-color: #000;

        &:before {
          background-color: #000;
        }

        &:nth-child(1) {
          height: 38px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
          // opacity: 0;
          // transform: translateX(100px);
        }
        &:nth-child(3) {
          height: 38px;
          transform: rotate(-45deg);
        }
      }
    }

    &--header {
      #{$this}__inner {
        width: 21px;
        justify-content: space-between !important;
        transform: rotate(-360deg);

        & > span {
          transform-origin: -3px 1px;

          @include media(sm) {
            transform-origin: 2.5px 1px;
          }

          &:before {}

          &:nth-child(1) {
            height: 1px;
            width: 22px;
            left: 4px;
            transform: rotate(45deg);

            @include media(sm) {
              width: 32px;
              left: auto;
            }
          }
          &:nth-child(2) {
            display: none;
            // opacity: 0;
            // transform: translateX(100px);
          }
          &:nth-child(3) {
            height: 1px;
            width: 23px;
            left: 4px;
            transform: rotate(-45deg);

            @include media(sm) {
              width: 33px;
              left: auto;
            }
          }
        }
      }
    }
  }
}
