#noty_layout__topRight,
#noty_layout__topLeft {
  top: 100px;
}

.noty_theme__wds {
  &.noty_bar {
    margin: 4px 0;
    overflow: hidden;
    border-radius: 2px;
    position: relative;

    .noty_body {
      padding: 10px;
      font-size: 14px;
    }

    .noty_buttons {
      padding: 10px;
    }
  }
  &.noty_type {
    &__alert,
    &__notification {
      background-color: #b39391;
      border-bottom: 1px solid darken(#b39391, 15%);
      color: #2F2F2F;
    }

    &__info,
    &__information {
      background-color: #a7a8aa;
      border-bottom: 1px solid darken(#a7a8aa, 15%);
      color: #fff;
    }

    &__success {
      background-color: #71dbd4;
      border-bottom: 1px solid darken(#71dbd4, 15%);
      color: #fff;
    }

    &__warning {
      background-color: #b39391;
      border-bottom: 1px solid darken(#b39391, 15%);
      color: #fff;
    }

    &__error {
      background-color: #643335;
      border-bottom: 1px solid darken(#643335, 15%);
      color: #fff;
      
      .noty_progressbar {
        background-color: #fff;
      }
    }
  }
}
