.order-steps {
  flex-basis: 350px;
  @include media(def, max) {
    flex-grow: 1;
  }

  [data-accordion="item"] {
    [data-accordion="trigger"] {
      display: inline-block;
    }

    &.is-open {
      [data-accordion="trigger"] {
        pointer-events: none;
      }
    }
  }
}

.order-step {

  & + & {
    margin-top: rem(50);
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //padding: rem(60) 0;
    height: rem(90);
    position: relative;

  }

  &__title {
    font-size: rem(22);
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    &::before {
      content: attr(data-step);
      font-size: rem(150);
      text-align: center;
      line-height: 0.5em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      color: #e0f6f5;
      z-index: -1;
    }
  }

  &__edit {
    font-size: rem(12);
    text-transform: uppercase;
    color: $color-aqua;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  &__body {
    margin-top: rem(30);
  }
}
