.pagination {
  display: flex;
  padding: 0;
  margin: auto;
  width: 100%;
  justify-content: center;
  list-style: none;
  font-weight: 700;
  font-size: rem(16);

  li {
    height: rem(40);
    line-height: rem(40);
    text-align: center;
    width: rem(40);
    color: $color-black;
    border-radius: 50%;

    a,
    span {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: inherit;
    }

    &:first-child,
    &:last-child {
      width: auto;
      background-color: transparent !important;
      border-radius: 0;
    }

    &.decor {
      height: 1px;
      align-self: center;
      background-color: $color-black;
      min-width: 10px;
      max-width: 100px;
      flex-grow: 1;
      pointer-events: none;
      margin: 0 rem(25);
    }

    &:hover {
      color: $color-aqua;
      background-color: $color-aqua-25;
    }

    &.is-disabled {
      opacity: .5;
      pointer-events: none;
    }

    &.is-active {
      color: $color-aqua;
    }
    @include media(md, max) {
      &:not(:first-child):not(:last-child):not(.is-active):not(.decor) {
        display: none;
      }
    }
  }
}
