.payment-case {
  display: flex;
  cursor: pointer;
  position: relative;

  @include max-size(90px);

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + img {
      border: 3px solid $color-aqua;
    }
  }

  img {
    margin: auto;
    border-radius: 50%;
  }
}
