.popover {
  $this: &;

  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(26px);
    background-color: #000;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    text-transform: lowercase;
    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 0;
    z-index: $z-index-popover;
    display: block;
    width: 260px;
    margin: -6px;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s;
  }

  &__inner {
    position: relative;
    padding: 25px 20px;
    background-color: #000;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      z-index: 1;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 6px;
      color: $color-black;
    }
  }

  &__title {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  &__text {}

  &:hover {
    #{$this}__content {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &--left {
    #{$this}__content {
      left: 100%;

      @include media(xl) {
        right: 100%;
        left: auto;
      }
    }

    #{$this}__inner {
      &:before {
        right: 100%;
        border-color: currentColor currentColor transparent transparent;

        @include media(xl) {
          right: auto;
          left: 100%;
          border-color: currentColor transparent transparent currentColor;
        }
      }
    }
  }

  &--right {
    #{$this}__content {
      right: 100%;

      @include media(xl) {
        right: auto;
        left: 100%;
      }
    }

    #{$this}__inner {
      &:before {
        left: 100%;
        border-color: currentColor transparent transparent currentColor;

        @include media(xl) {
          left: auto;
          right: 100%;
          border-color: currentColor currentColor transparent transparent;
        }
      }
    }
  }
}
