.mfp-bg {
  background-color: #c6f6f7;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.95;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  transition-delay: .3s;
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform: translateY(30px);
  transition: all .3s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .3s;

}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  transition-delay: 0s;
  opacity: 0;
  transform: translateY(-30px);
}

.round-popup {
  $circle-diameter: 700px;
  max-width: $circle-diameter;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media screen and (orientation: portrait) {
    min-height: 70vmax;
  }

  @media screen and (orientation: landscape) {
    min-height: 65vmax;
  }

  @include media(md) {
    min-height: 700px;
    background-color: $color-white;
    border-radius: 50%;
  }

  .mfp-close{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    @media screen and (orientation: portrait) {
      top: 0;
    }

    @media screen and (orientation: landscape) {
      top: 10px;
    }

    @include media(md) {
      top: 50px;
    }
  }

  .heading {
    text-align: center;
    justify-content: center;
  }

  &__inner {
    margin: auto;
    max-width: 490px;
    max-height: 490px;
  }

  &:before,
  &:after {
    @include media(ms) {
      content: '';
      position: absolute;
      border-radius: 50%;
      background-color: $color-aqua;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }

  &:before {
    @include media(ms) {
      @include size(rem(125));
      transform: rotate(30deg) translateX($circle-diameter/2);
    }
  }
  &:after {
    @include media(ms) {
      @include size(rem(85));
      transform: rotate(30deg) translateX(-$circle-diameter/2);
    }
  }
}

.popup {
  &--rewards {
    padding: rem(60) 0 rem(40);
    max-width: 640px;
    margin: auto;
    @include media(sm) {
      padding: rem(100) 0;
    }
  }
}
