.product-vintages {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  overflow: auto;

  .product-vintage {
    @include resp-val(12, 25, 319, 768, 'padding');
  }
}

.product-vintage {
  display: inline-block;
  position: relative;
  font-size: rem(16);
  line-height: 1.5em;
  text-transform: uppercase;
  color: $color-black;
  font-weight: 700;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: $color-aqua;
  }

  &__price {

    font-size: 1.2em;
    border-bottom: 1px solid $color-aqua;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  &__price,
  &__volume,
  &__year {
    display: block;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;

    &:checked {
      & ~ .product-vintage__price,
      & ~ .product-vintage__year,
      & ~ .product-vintage__volume {
        color: $color-aqua;
      }
    }
  }

}
