.product-card {
  $this: &;

  position: relative;
  display: block;
  width: 100%;
  max-width: rem(350);
  margin: 0 auto;

  &__image-container {
    height: 0;
    padding-top: 100%;
    position: relative;
    display: block;
    overflow: hidden;
  }

  &__image {
    @include max-size(100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__tags {
    position: absolute;
    top: rem(20);
    left: rem(10);
  }

  &__tag {
    height: rem(36);
    width: rem(36);
    border: 1px solid $color-black;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;

    & + & {
      margin-top: rem(10);
    }

    &--sale {
      $fz: 16px;
      font-size: $fz;
      width: em(60, $fz);
      height: em(60, $fz);
      line-height: em(60, $fz);
      text-align: center;
      text-transform: uppercase;
      color: $color-white;
      background-color: $color-black;
      border: 0;
    }
  }

  &__prices {
    display: flex;
    align-items: baseline;
  }

  &__price {
    font-size: rem(30);

    span {
      font-family: Arial;
    }

    &--old {
      font-size: rem(16);
      text-decoration: line-through;
      margin-right: 5px;
    }

    &--sale {
      color: $color-brown;
    }
  }

  &__types {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity .3s, transform .3s;
    transform: translateY(-10px);
    position: absolute;
    top: rem(-15);
    left: 0;
    width: 100%;

    .product-type {
      padding: 0 18px;
    }
  }

  &__body {
    padding: rem(50) rem(20) rem(25);
    position: relative;
  }

  &__title {
    $fz: 16px;
    font-size: rem($fz);
    line-height: em(20, $fz);
    max-height: em(2*20, $fz);
    color: $color-black;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
      color: $color-aqua;
    }
  }

  &__params-row {
    display: flex;
    align-items: center;

    &--1 {
      margin-bottom: 10px;
    }
  }

  &__buttons {
    display: flex;
    margin-left: rem(10);

    .button + .button {
      margin-left: rem(12);
    }
  }

  &__button {
    border: 1px solid $color-black;
    @include size(rem(46));

    .svgi {
      @include max-size(rem(25))
    }

    .in-cart &--addToCart {
      background-color: $color-aqua-25;
    }

    .in-favorites &--addToFavorites {
      background-color: $color-aqua-25;
    }
    .in-wait &--addToWait {
      background-color: $color-aqua-25;
    }
  }

  &__rewards {
    position: absolute;
    top: rem(20);
    right: rem(10);
  }

  &:hover {
    box-shadow: 0 0 30px -10px $color-aqua;
    #{$this} {
      &__types {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}
