.promotion-links {
  $gap: 10px;

  &__heading {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -$gap;
  }

  &__item {
    display: inline-block;
    padding: $gap;
    color: #000;
    font-size: rem(16);
    font-weight: 400;
    text-decoration: none;
    transition: color .25s ease;

    &[href] {
      &:hover {
        color: $color-aqua;
        text-decoration: underline;
      }
    }
  }
}
