.product-type {
  $this: &;

  &__icon {
    width: 30px;
    height: 30px;
    border: 1px solid $color-black;
    border-radius: 50%;
    margin: auto;
    position: relative;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;

    img,
    .svgi,
    .product-color {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: 50%;
      @include max-size(100%);
    }
  }

  &__icon-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  &__text {
    margin-top: 5px;
    font-size: 10px;
    text-transform: uppercase;
    color: $color-black;
    text-align: center;
  }

  &--country {
    .product-type {
      &__icon {
        padding: 0;
        overflow: hidden;
      }

      &__icon-inner {
        overflow: visible;
      }
    }
  }

  &--color {
    #{$this}__icon {
      padding: 0;

      .product-color {
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
      }
    }
  }
}
