.product {
  &__main {
    width: 100%;
    max-width: 470px;
    margin: 0 auto;

    @include media(md) {
      max-width: 950px;
    }
  }

  &__images {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  &__cost-info {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  &__title {
    display: block;
	margin: 0;
	padding: 0;
    // margin-bottom: rem(40);
    color: #000;
    @include resp-val(30, 48, 640, 1280);
    font-weight: 700;
    text-transform: uppercase;
  }

  &__share {
    display: inline-block;
    margin-left: rem(10);

    &:empty {
      display: none;
    }
  }

  &__meta {
    $gap: 8px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: -$gap;
    margin-bottom: -$gap;
    margin-left: -$gap;
    margin-right: -$gap;

    & > * {
      padding: $gap;
    }
  }

  &__img {
    img {
      display: block;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;

      @include media(md) {
        max-width: 350px;
      }
    }
  }

  &__slider {
    position: relative;
  }

  &__slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(lg) {
      position: absolute;
      top: 100%;
      right: calc(100% + 80px);
      z-index: 1;
      justify-content: flex-start;
    }
  }

  &__slides-counter {
    display: block;
    margin-right: 12px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2em;
  }

  &__tastings {
  }

  &__status {
    color: $color-aqua;
    font-size: 16px;
    text-transform: uppercase;

    @include media(lg) {
      white-space: nowrap;
    }
  }

  &__artikul {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;

    @include media(lg) {
      white-space: nowrap;
    }
  }

  &__prices {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: rem(40);

    @include media(lg) {
      justify-content: flex-end;
    }
  }

  &__price {
    font-size: rem(48);
    font-weight: 700;

    span {
      &:first-child {
        font-family: Arial;
      }
    }

    &--old {
      font-size: rem(30);
      text-decoration: line-through;
      margin-right: rem(30);
    }

    &--sale {
      color: #94373f;
    }
  }

  &__types {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: rem(40);

    @include media(lg) {
      justify-content: flex-end;
    }

    .product-type {
      padding: 0 18px;
      @include media(lg) {
        padding-left: 35px;
        padding-right: 0;
      }
    }
  }

  &__vintages {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    overflow: auto;

    @include media(lg) {
      justify-content: flex-end;
    }

    .product-vintage {
      padding: rem(20) rem(25);
      text-align: left;
    }
  }

  &__vintages-title {
    display: block;
    margin-bottom: rem(20);
    color: #000;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;

    @include media(lg) {
      text-align: right;
    }
  }

  &__chars {
    display: block;
    margin-bottom: rem(40);
  }

  &__button {
    position: relative;
    display: flex;
    margin: 10px 0;
    padding: 0;

    &:first-of-type {
      margin-top: 20px;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }

    &:before,
    &:after {
      $size: em(46px, 16);

      content: '';
      position: absolute;
      top: 50%;
      left: $size / -4;
      display: block;
      @include size($size);
      margin-top: calc((#{$size} / -2) - 1px);
      border: 1px solid transparent;
      border-radius: 50%;
      transform-origin: center;
      transition: transform .3s ease;
    }

    &:before {
      z-index: -1;
      border-color: #000;
    }

    &:after {
      z-index: -2;
      background-color: $color-aqua-25;
      transform: scale(0);
    }

    .svgi {
      @include max-size(em(23, 16));

      &:first-child {
        margin-right: rem(24);
      }
    }

    &:hover {
      &:after {
        transform: scale(1);
      }
    }
    .in-cart &--addToCart {
      &:before {
        background-color: $color-aqua-25;
      }
    }

    .in-favorites &--addToFavorites {
      &:before {
        background-color: $color-aqua-25;
      }
    }
    .in-wait &--addToWait {
      &:before {
        background-color: $color-aqua-25;
      }
    }
  }

  &--view {}

  &--presentation {
    .slider__controls {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
