.profile {
  &__menu {
    font-size: rem(24);
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    position: sticky;
    top: rem(map-get($gutters, lg));
    li {
      a {
        color: inherit;
        text-decoration: none;
        position: relative;
        padding-right: 30px;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translateY(-50%);
          width: 0;
          height: 1px;
          background: #000;
          transition: all .3s ease-out;
        }
        &:hover {
          color: $color-aqua;
          &::after {
            width: 6.3rem;
            transition: all .3s ease-out;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &-active {
      position: relative;
      padding-right: 30px;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        width: 6.3rem !important;
        height: 1px;
        background: #000;
      }
    }
  }
}

.history-order {
  $this: &;
  $fz: 12px;
  font-size: $fz;
  text-transform: uppercase;

  b {
    font-size: em(16, $fz);
  }
  &__trigger {
    @include size(rem(35));
    cursor: pointer;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
      transform-origin: center;
      transition: transform .6s ease, background-color .6s ease;
    }

    &:before {
      transform: rotate(-180deg);
    }

    &:after {
      transform: rotate(270deg);
    }
  }
  &__header {
    position: relative;
    padding: rem(10);
    text-align: right;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $color-black;
      transition: transform .2s;
      transform-origin: right;
    }
    @include media(sm) {
      padding: rem(25);
    }
  }
  &__body {
    text-align: right;
    padding-top: rem(60);
    padding-right: rem(25);
  }
  & + & {
    margin-top: rem(50);
  }
  &:hover {
    #{$this} {
      &__header {
        &::after {
          transform: scaleX(#{(11/12)});
          background-color: $color-aqua;
        }
      }
      &__trigger {
        &::before,
        &::after {
          background-color: $color-aqua;
        }
      }
    }
  }
  &.is-open {
    #{$this} {
      &__header {
        &::after {
          transform: scaleX(#{(5/6)});
        }
      }
      &__trigger {
        &:before,
        &:after {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.order-item {
  height: rem(25);

  & + & {
    margin-top: rem(10);
  }
}

.profile-clear-list{
  color: #000;
  text-decoration: none;
  &:hover{
    color: $color-aqua;
    text-decoration: underline;
  }
}
