.quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 466px;
  margin: 0 auto;
  background-color: $color-white;
  box-shadow: 0 5px 20px 5px rgba($color-black, .2);
  padding: rem(30) rem(30) 0;

  &__dates-range {
    font-size: rem(16);
    color: $color-black;
    height: 3em;
    margin-bottom: rem(25);
  }

  &__title {
    font-size: rem(24);
    line-height: 1.5em;
    color: $color-black;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  &__text {
    font-size: rem(16);
    line-height: 1.5em;
    color: #626262;
    margin-bottom: rem(50);
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__cases {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: rem(75);

    li {
      & + li {
        margin-top: rem(12);
      }
    }
  }

  &__chart {
    position: relative;
    margin-top: rem(-25);
    top: rem(25);
  }
}

.quiz-result {
  pointer-events: none;
  .quiz-result__color {

    border: 0;

    &:before {
      display: none;

    }
  }
}
