.rating {
  $this: &;

  label {
    cursor: pointer;
  }

  &__list {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    margin: -2px;
  }

  &__item {
    padding: 2px;

    .svgi {
      width: 15px;
      height: 15px;
      fill: #e1e2e3;
    }

    &:hover {
      .svgi {
        fill: #a7a8aa;
      }

      & ~ #{$this}__item {
        .svgi {
          fill: #a7a8aa;
        }
      }
    }
  }

  &__input {
    display: none !important;

    &:checked ~ {
      #{$this}__item {
        .svgi {
          fill: #a7a8aa;
        }
      }
    }
  }


  @for $i from 1 through 5 {
    &[data-rate="#{$i}"] {
      #{$this}__item {
        &:nth-last-of-type(-n+#{$i}) {
          .svgi {
            fill: #a7a8aa;
          }
        }
      }
    }
  }


  &.is-readonly {
    pointer-events: none;
  }
}
