.review {
  $this: &;

  line-height: 1.5em;
  font-size: rem(16);

  & + & {
    padding-top: rem(40);
  }


  &__header {
    color: $color-black;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: flex;
    margin-bottom: rem(35);

    &--with-rating {
      flex-wrap: wrap;

      #{$this}__author {
        width: 100%;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include media(ms) {
          width: auto;
          margin-bottom: 0;
        }
      }
    }
  }
  &__body {
  }
  &__author {
    margin-right: rem(25);
  }
  &__date {
  }
  &--answer {
    padding-top: rem(40);
    margin-left: auto;
    max-width: 7 / 8 * 100%;
  }
}
