.rewards {
  $this: &;

  display: block;
  margin-bottom: em(50, 24);

  .heading {
    margin-bottom: em(25, 24);
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 320px;
  }

  &__item {
    position: relative;
    display: block;
    width: 95px;
    margin-bottom: 5px;
    cursor: pointer;

    @include media(xs) {
      width: 105px;
    }

    &:hover {
      .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__item-content {
    position: relative;
    display: block;
    @include size(60px);
    margin: 0 auto;

    color: $color-black;
    font-size: 16px;
    font-weight: 300;
  }

  &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    @include size(100%);
  }

  &__item-img-def,
  &__item-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    @include size(100%);
    margin: auto;
    transition: opacity .25s ease, transform .25s ease;
  }

  &__item-img-def {
    z-index: 2;
    opacity: 1;
  }

  &__item-img-hover {
    z-index: 1;
    opacity: 0;
  }

  &__item-name {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    display: block;
    color: $color-black;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
  }


  &--ltr {
    text-align: left;

    .product--presentation & {
      @include media(420px, max) {
        text-align: center;
      }
    }

    .heading {
      justify-content: flex-start;

      .product--presentation & {
        @include media(420px, max) {
          justify-content: center;
        }
      }
    }
  }

  &--rtl {
    text-align: right;

    .product--view & {
      @include media(lg, max) {
        text-align: center;
      }
    }

    .heading {
      justify-content: flex-end;

      .product--view & {
        @include media(lg, max) {
          justify-content: center;
        }
      }
    }
  }

  &--full {
    #{$this} {
      &__item {
        // &:hover {
        //   #{$this} {
        //     &__item-img-def {
        //       opacity: 0;
        //     }
        //     &__item-img-hover {
        //       opacity: 1;
        //     }
        //   }
        // }

        // &:hover {
        //   #{$this} {
        //     &__item-img-def {
        //       transform: scale(1.15);
        //     }
        //   }
        // }
      }
    }
  }

  &--short {
    margin-bottom: 0;

    #{$this} {
      &__list {
        display: block;

      }

      &__item {
        width: 60px;
        margin-bottom: 10px;
      }

      &__item-content {
        @include size(34px);
        font-size: 10px;
      }

      &__item-name {
        color: $color-black;
        font-size: 10px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}
