.section {
  $this: &;

  &__header {
    display: flex;
    flex-wrap: wrap;
    @include resp-val(40, 100, 320, 1600, 'margin-bottom');

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }

    .heading {
      margin-bottom: 0;
      @include media(md, max) {
        &:only-child{
          text-align: center;
        }
      }
    }
  }

  &__body {
    position: relative;
  }

  //&__footer {  }

  & + & {
    margin-top: rem(75);

    @include media(md) {
      margin-top: rem(150);
    }
  }

  &-slogan {
    @include resp-val(30, 50, 319, 640);
    @include resp-val(50, 100, 640, 1650);
    font-weight: 700;
    color: $color-aqua;
    position: absolute;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    letter-spacing: .4em;
    line-height: 1em;
    font-family: "Arial", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    overflow: hidden;
    max-width: 100%;

    i {
      font-style: normal;
      transition: all .2s;
    }
    span {
      display: block;
    }

    &--to-left {
      left: 0;
      text-align: left;

      span {
        &:nth-of-type(2n) {
          padding-left: 1em;
        }
      }
    }

    &--to-right {
      right: 0;
      text-align: right;

      span {
        &:nth-of-type(2n-1) {
          padding-right: 1em;
        }
      }
    }

    @include media(ms, max) {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .01));

      &--to-left,
      &--to-right {
        left: 0;
        right: 0;
        text-align: center;

        span {
          padding: 0 !important;
        }
      }
    }

    &--fixed {
      position: fixed;
      top: rem(420);
      left: 25%;
      color: #def6f7;
      z-index: -1;

      span {
        &:nth-child(3) {
          margin-left: -2em;
        }
      }

      @include media(ms, max) {
        background: none;
      }
    }

    &--no-gradient {
      background-image: none;

      @include media(ms, max) {
        background-image: none;
      }
    }
  }

  &--slider-cards {
    #{$this}__header {
      flex-wrap: wrap;

      .heading {
        justify-content: center;
        width: 100%;
        margin-bottom: rem(20);
      }

      .slider-controls {
        width: 100%;
        justify-content: center;
      }

      @include media(md) {
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        .heading {
          justify-content: flex-start;
          width: auto;
          margin-bottom: 0;
        }

        .slider-controls {
          justify-content: flex-end;
          width: auto;
        }
      }
    }
  }

  &--visitors-info {
    & + .section {
      margin-top: rem(35);
    }

    .section__header {
      margin-bottom: rem(50);
    }

    [class*="heading"] {
      font-size: rem(24);
    }
  }
}
