.share {
  $this: &;

  position: relative;
  z-index: 4;

  &__heading {
    position: relative;
    z-index: 1;
    padding: 10px;
  }

  &__body {}

  &__list {}

  &__item {
    position: absolute;
    top: 11px;
    left: 11px;
    z-index: 0;
    display: block;
    @include size(44px);
    border: 1px solid #000;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity .2s ease,
      transform .2s ease;

    &--facebook {}
    &--gplus {}
  }

  &__link {
    position: relative;
    display: block;
    @include size(100%);
    background-color: #fff;
    fill: #000;
    transition:
      background-color .25s ease,
      fill .25s ease;

    .svgi {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      @include size(50%);
      margin: auto;
    }

    &:hover {
      background-color: #000;
      fill: #fff;
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    @include size(46px);
    border-color: transparent;
    background-color: #fff;

    &:hover,
    .is-open & {
      background-color: #000;
      fill: #fff;
    }
  }

  .svgi {
    &--share {
      @include size(24px)
    }
  }

  &.is-open {
    #{$this}__item {
      opacity: 1;
      pointer-events: auto;
    }

    @for $i from 1 through 10 {
      #{$this}__item {
        &:nth-child(#{$i}) {
          transform: translateY(#{$i * 60px});
        }
      }
    }
  }
}
