.side-panel {
  position: fixed;
  top: rem(100);
  bottom: 0;
  height: rem(60);
  width: calc(100vh - 100px);
  margin: auto;
  z-index: $z-index-left-panel;
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: transform .3s, opacity .3s, background-color .3s;

  .is-loading & {
    opacity: 0;
    pointer-events: none;

    &--left{
      transform: translateX(-50%) rotate(-90deg) translateY(-30px) translateZ(0);
    }
    &--right{
      transform: translateX(50%) rotate(-90deg) translateY(30px) translateZ(0);
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    li {
      position: relative;

      &.line {
        padding: 0;
        margin: 0 rem(25);
        align-self: center;
        width: 20px;
        flex-grow: 1;
        height: 1px;
        background-color: $color-black;

        @media screen and (min-height: 768px) and (min-width: 768px) {
          width: 100px;
        }
      }

      &.soc-item {
        font-size: rem(12);
      }

      &:hover {
        a:not(.navigation-menu-trigger) {
          letter-spacing: 5px;
          color: $color-aqua;
        }

        .navigation-menu-burger {
          &__inner {
            & > span {

              &:nth-child(1) {
                &:before {
                  height: 0;
                }
              }

              &:nth-child(2) {
                &:before {
                  height: 0;
                }
              }

              &:nth-child(3) {
                &:before {
                  height: 0;
                }
              }
            }
          }
        }
      }

      &.is-active {
        pointer-events: none;

        a:not(.navigation-menu-trigger) {
          color: $color-aqua;
        }
      }
    }

    a {
      display: inline-block;
      color: $color-black;
      text-decoration: none;
      transition: letter-spacing .25s ease-in-out, filter .25s ease, text-shadow .25s ease, color .25s ease;
    }
  }

  &--left {
    transform: translateX(-50%) rotate(-90deg) translateZ(0);
    left: rem(75/2);

    ul {
      li {
        &:hover {
          a:not(.navigation-menu-trigger) {
            text-shadow: 0 1.2em 0 rgba($color-aqua, .5), 0 2.4em 0 rgba($color-aqua, .3);
          }
        }
      }
    }

    a {
      display: block;
      position: relative;
    }
  }

  &--right {
    transform: translateX(50%) rotate(-90deg) translateZ(0);
    right: rem(75/2);

    ul {
      li {
        &:hover {
          a:not(.navigation-menu-trigger) {
            text-shadow: 0 -1.2em 0 rgba($color-aqua, .5), 0 -2.4em 0 rgba($color-aqua, .3);
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px), screen and (max-height: 601px) {
    opacity: 0;
    pointer-events: none;

    &--left {
      transform: translateX(-50%) rotate(-90deg) translateY(-30px) translateZ(0);
    }

    &--right {
      transform: translateX(50%) rotate(-90deg) translateY(30px) translateZ(0);
    }
  }
}
