.site-search {
  $this: &;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6px rem(20);
  background-color: #000;
  transform: translateY(-100%) translateZ(0);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease, transform .3s ease;

  .main-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    .svgi--logo {
      max-width: 45px;
      max-height: 45px;
      fill: #fff;

      @include media(sm) {
        max-width: 90px;
        max-height: 30px;
      }

      @include media(def) {
        max-width: 120px;
        max-height: 45px;
      }
    }

    &[href] {
      &:hover {
        .svgi--logo {
          fill: $color-aqua;
        }
      }
    }
  }

  &__aside {
    flex: 0 0 auto;
  }

  &__main {
    flex: 1 0 auto;
    position: relative;
    max-width: 1450px;
    @include resp-val(16, 40, 480, 1024, 'margin-left');
    padding: 6px 8px;
    background-color: #262626;

    @include media(def) {
      padding: 10px 14px;
    }
  }

  &__control {
    position: relative;
    z-index: 2;

    & > form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
    }
  }

  &__input {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: 4px 0;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: #ededed;
    font-size: 14px;
    letter-spacing: .2em;
    transition: border-color .25s ease;

    &:focus {
      border-bottom-color: $color-aqua;
    }
  }

  &__suggestions {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    background-color: #262626;
    overflow-y: auto;
    transform: translateY(-20px) translateZ(0);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease, transform .3s ease;

    @media screen and (orientation: portrait) {
      max-height: 50vmax;
    }

    @media screen and (orientation: landscape) {
      max-height: 70vmin;
    }

    &.has-result {
      transform: translateY(0) translateZ(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__suggestions-item {
    &:last-child {
      #{$this}__suggestions-link {
        background-color: #191919;
      }
    }

    &:hover {
      #{$this}__suggestions-link {
        background-color: #191919;
        color: $color-aqua;
      }
    }
  }

  &__suggestions-link {
    display: block;
    padding: rem(12) rem(48);
    background-color: #262626;
    color: #ededed;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2em;
    text-decoration: none;
    transition: background-color .25s ease, color .25s ease;

    &:hover {
      text-decoration: none;
    }
  }

  &__button {
    display: inline-flex;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: all .2s;

    & > span {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    &--submit {
      margin-right: 10px;

      .svgi {
        @include size(1.5em);
        fill: #ededed;
      }

      &:hover {
        .svgi {
          fill: $color-aqua;
        }
      }
    }
  }
  
  &__close-x {
    margin-left: 10px;
    &::before,
    &::after {
      background-color: #ededed;
    }
  }

  &.is-open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(100%) translateZ(0);
  }

  .site-search-is-open & {}

  .site-search-suggestions-is-open & {}
}
