.slider {
  .slick-slide {
    outline: none;
  }

  &--cards {
    .slick-list {
      $gap: 20px;

      margin-top: -$gap;
      margin-bottom: -$gap;
      padding-top: $gap;
      padding-bottom: $gap;
    }

    .slick-slide {
      margin: 0 7px;

      .product-card {
        display: block !important;
      }
    }
  }

  &--products {
    position: relative;

    .slick-dots {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      
      li {
        position: relative;
        display: block;
        @include size(15px);
        margin: 4px;
        border: 1px solid #000;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
        
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          display: block;
          @include size(9px);
          margin: auto;
          background-color: #000;
          border-radius: 50%;
          opacity: 0;
          transition: opacity .25s ease, transform .25s ease;
        }
        
        & > button {
          display: none;
        }

        &:hover {
          &:after {
            transform: scale(.5);
            opacity: 1;
          }
        }

        &.slick-active {
          pointer-events: none;

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}
