.slider-controls {
  display: flex;
  margin: rem(-11);

  &__item {
    position: relative;
    display: block;
    width: rem(46);
    height: rem(46);
    margin: rem(11);
    border: 1px solid $color-black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .25s ease, border-color .25s ease, border-radius .25s ease, transform .15s ease;

    .svgi {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 15px;
      height: 9px;
      margin: auto;
      fill: $color-black;
      transition: fill .25s ease;
    }

    &:hover {
      background-color: $color-aqua;
      border-color: $color-aqua;
      border-radius: 0;

      .svgi {
        fill: $color-white;
      }
    }

    &:active {
      transform: scale(0.8, 1.4);
      border-radius: 16px;
    }
  }
}
