.social-networks {
  $this: &;

  display: inline-block;

  &__list {}

  &__item {
    display: block;
    @include size(rem(44));
    margin: rem(10);
    border: 1px solid #000;
    border-radius: 50%;
    overflow: hidden;

    &--facebook {}
    &--instagram {}
  }

  &__link {
    position: relative;
    display: block;
    @include size(100%);
    background-color: rgba(#fff, .5);
    fill: #000;
    transition:
      background-color .25s ease,
      fill .25s ease;

    .navigation-menu__social-networks & {
      background-color: rgba(#c6f6f7, .95);
    }

    .svgi {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      @include size(50%);
      margin: auto;
    }

    &:hover {
      background-color: #000;
      fill: #fff;
    }
  }


  &--group-vertical {}

  &--group-horizontal {
    #{$this} {
      &__list {
        display: flex;
      }

      &__item {
        margin: 5px;
      }
    }
  }
}
