.socials-promo {
  $this: &;

  &__item {
    display: block;
    max-width: 466px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 3px 40px -21px #000;

    &--facebook {}
    &--youtube {}
    &--instagram {}
  }

  &__heading {}
  &__content {}
  &__footer {}

  &__widget {
    overflow: hidden;

    iframe,
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      display: block;
      width: 100% !important;
      min-height: 100% !important;
      margin: auto;
      backface-visibility: hidden;
      transition: transform .25s ease;
    }

    &:hover {
      #{$this}__hint {
        opacity: 1;
        transform: scale(1);

        // Анимируем все соседние
        & ~ iframe,
        & ~ img {
          transform: scale(1.1);
        }

        // И любые вложенные
        & ~ * {
          iframe,
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &__widget-inner {
    position: relative;
    display: block;
    margin: -2px; // Обертка и отрицательный маргин на ней, потому что виджет инстаграмма под капотом имеет паддинг в 2px и анимация выглядит не красиво
    padding-top: 340 / 470 * 100%;
    height: 0;
  }

  &__hint {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
    margin: auto;
    background-color: rgba(#c6f6f7, .3);
    pointer-events: none;
    opacity: 0;
    transform: scale(1.2);
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
  }

  &__hint-text {
    display: block;
    padding: 14px 22px;
    border: 2px solid $color-aqua;
    background-color: transparent;
    color: #fff;
    font-size: rem(20);
    font-weight: 400;
    text-transform: uppercase;
  }

  &__title {
    display: block;
    padding: 16px 20px;
    color: #000;
    font-size: rem(16);
    font-weight: 400;
    text-transform: uppercase;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 25px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: color .25s ease, background-color .25s ease;

    &:hover {
      background-color: rgba($color-aqua, .5);
      // color: #fff;
      text-decoration: underline;
    }
  }

  &__link-img {
    display: block;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__link-text {
    display: inline-block;
    color: inherit;
    font-size: rem(16);
    font-weight: 400;
    text-transform: uppercase;
  }
}
