.staff-cards {
  display: flex;
  flex-direction: column;
}

.staff-card {

  @include resp-val(10, 16, 768, 1600);
  $this: &;
  $gutter: em(25);
  $image-width: em(540);
  $overlapping: em(75);
  display: flex;
  max-width: 100%;

  & + & {
    margin-top: $gutter * 2;
    @include media(lg) {
      margin-top: em(100);
    }
  }

  &__image-container {
    width: $image-width;
    flex-basis: $image-width;
    background: $color-aqua-25 url("/images/placeholder.jpg") center;
    background-size: cover;
    align-self: flex-start;

  }

  &__image {
    display: block;
    height: 0;
    padding-top: em(310) / $image-width * 100%;
    position: relative;
    overflow: hidden;

    img {
      @include max-size(100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transition: transform .5s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__content {
    padding: $gutter;
    width: $image-width;
    flex-basis: $image-width;
    flex-shrink: 0;
  }

  &__title {
    display: block;
    $fz: 24;
    color: $color-black;
    font-size: em($fz);
    line-height: em(36, $fz);
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: em(map_get($gutters, sm), $fz);
  }

  &__text {
    $fz: 16px;
    font-size: em($fz);
    line-height: em(24, $fz);
  }
  @include media(md, max) {
    flex-wrap: wrap;

    #{$this}__image-container {
      flex-basis: 200px;
      flex-grow: 1;
    }
    
    #{$this}__content {
      flex-grow: 2;
      max-width: 100%;
    }
  }

  &:nth-child(2n) {
    @include media(md) {
      align-self: flex-end;
    }
  }
}
