.tabs {
  &__triggers-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: rem(20);
    @include resp-val(18, 24, 3800, 1024);

    @include media(sm) {
      flex-wrap: nowrap;
    }

    @include media(def) {
      margin-top: -18px;
    }
  }

  &__contents-list {
    padding-top: rem(20);
  }

  &__trigger {
    position: relative;
    display: block;
    padding: em(20, 24) em(40, 24);
    color: #000;
    font-size: em(24, 24);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: em(4, 24);
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 0;
      border-top: 1px solid #000;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform .3s ease-in-out;
    }

    &:hover {
      &::after {
        transform: scaleX(0.3);
      }
    }

    &.is-active {
      width: 100%;
      order: 1;
      pointer-events: none;

      &::after {
        transform: scaleX(1);
      }

      @include media(sm) {
        width: auto;
        order: inherit;
      }
    }
  }

  &__content {}

  &--product-details {}

}
