.tastings {
  &__item {
    display: flex;
  }

  &__item-aside {
    flex: 0 0 rem(90);
  }

  &__item-main {
    // flex: 1 0 auto;
  }

  &__img {
    position: relative;
    display: block;
    @include size(rem(90));
    margin-right: rem(30);
    border-radius: 50%;
    background-color: $color-aqua-25;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      margin: auto;
    }
  }

  &__name {
    display: block;
    margin-bottom: rem(20);
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  &__content {
    display: block;
    margin-bottom: 10px;
    color: #626262;
    font-size: 16px;
  }
}
