.thematic-card {
  $this: &;

  display: block !important;
  width: rem(350) !important;
  margin: 0 auto 15px;
  box-shadow: 0 3px 40px -21px #000;

  &__image-container {
    height: 0;
    padding-top: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
  }

  &__image {
    @include max-size(100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: rem(25);
  }

  &__name {
    display: block;
    height: rem(24) * 1.15 * 2;
    margin-bottom: rem(25);
    color: $color-black;
    font-size: rem(24);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    outline: none;
    letter-spacing: 2px;
    transition: .3s ease-in;
    overflow: hidden;
  }

  &:hover {
    box-shadow: 0 3px 40px -12px $color-aqua;

    // #{$this}__name {
    //   color: $color-aqua;
    // }

    .button--circle-decor::before {
      background-color: $color-aqua;
    }
  }
}
