.tooltip {
  $this: &;
  $c: #def6f7;

  z-index: $z-index-popover;
  display: block;
  width: 245px;
  padding: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: $c;
  color: $color-black;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease;

  &:after {
    content: '';
    position: absolute;
    z-index: 9;
    display: block;
    // width: 100%;
    height: 20px;
    background-color: rgba($color-black, 0);
    opacity: 0;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__content {
    display: block;
    margin-bottom: 20px;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__arrow {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    color: $c;
  }

  &[x-placement="bottom"] {
    margin-top: 14px;

    &:after {
      top: -20px;
      left: 10px;
      right: 10px;
    }

    #{$this}__arrow {
      top: -9px;
      left: calc(50% - 6px);
      display: block;
      border-width: 0 6px 9px 6px;
      border-color: transparent transparent currentColor transparent;
    }
  }
}
