.visitors-info {
  $this: &;
  $mb: rem(20);

  &__phones {}
  &__phones-list {
    @include media(ms, max) {
      display: flex;
      justify-content: space-around;
    }
  }
  &__phones-item {
    margin-bottom: $mb;
  }
  &__phones-link {
    display: inline-block;
    color: $color-black;
    font-size: rem(16);
    font-weight: 700;
    text-decoration: none;
    transition: color .3s ease;

    &:hover {
      color: $color-aqua;
      text-decoration: none;
    }
  }

  &__schedule {
    @include media(ms, max) {
      display: flex;
      justify-content: space-around;
    }
  }
  &__schedule-item {
    display: block;
    margin-bottom: $mb;
    color: $color-black;
    font-size: rem(16);
    font-weight: 700;
    text-decoration: none;
  }

  &__emails {}
  &__emails-list {
    @include media(ms, max) {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
  &__emails-item {
    margin-bottom: $mb;
  }
  &__emails-link {
    display: inline-block;
    color: $color-black;
    font-size: rem(16);
    font-weight: 400;
    text-decoration: none;

    &:hover {
      color: $color-aqua;
      text-decoration: underline;
    }
  }
}
