.noty_buttons {
    display: block;
    text-align: right;
}

.noty_buttons button {
    margin-right: 5px;
}

.noty_buttons button:last-child {
    margin-right: 0;
}

.noty_theme__mint.noty_type__info, .noty_theme__mint.noty_type__information {
    background-color: #205081;
    border-bottom: 1px solid #205081;
}

.align-text-top {
    vertical-align: top;
}

.buttons-block {
    text-align: right;
    display: block;
    margin: 10px 0;
}

.buttons-block button {
    margin-right: 5px;
}

.change-status i {
    width: 10px;
    height: 22px;
    font-size: 10px;
}

.user-body ul.menu {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.user-body ul.menu li {
    box-sizing: border-box;
}

.user-body ul.menu li a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
}

.user-body ul.menu li:last-child a {
    border-bottom: none;
}

.user-body ul.menu li a:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
}

ul.list-group li.active a {
    color: #fff !important;
}

ul.list-group li.active a:hover {
    opacity: 0.5;
}

.form-control.disabled {
    cursor: not-allowed;
    opacity: .45;
}

.sliderSortList {

}

.sliderSortList .dd3-content {
    height: 60px;
}

.sliderSortList .dd3-content .pagename-column img {
    max-width: 54px;
    max-height: 54px;
}

.sliderSortList .dd3-handle {
    width: 60px;
    height: 60px;
}

.sliderSortList .dd3-handle::before {
    top: 18px;
}

.overflow-20 {
    overflow: hidden;
    height: 20px;
}

.simple-image-block {
    margin-bottom: 10px;
    position: relative;
}

.simple-image-block > img {
    width: 100px;
}

.simple-image-block .simple-image-actions {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100px;
    opacity: 0.5;
}

.simple-image-block:hover .simple-image-actions {
    opacity: 1;
}

.free-space {
    width: 20px;
    display: inline-block;
}

.disabled-opacity {
    opacity: 0.35;
}

.hidden-form-group {
    margin-bottom: 5px;
}

/*!
 * jQuery UI Autocomplete 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/autocomplete/#theming
 */
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ccc;
}

.time-to-time-loader {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
    height: 34px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    cursor: not-allowed;
}

#errors-list ul {
    max-height: 400px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

#errors-list-basic {
    margin-bottom: 10px;
    font-weight: bold;
}

#errors-list-basic span {
    color: red;
}

.resizable-text-block {
    max-height: 150px;
    overflow-y: auto;
}

dl.specifications-list > dd {
    margin-bottom: 15px;
}

dl.specifications-list > dd:last-child {
    margin-bottom: 0;
}

.my-carousel img {
    max-height: 400px;
    margin: auto;
}

/********************************************************************/
/********************************************************************/
/********************************************************************/
.panel {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 0 !important;
}

.panel-default {
    border-color: #ebedef !important;
}

.panel .panel-body {
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    height: auto;
}

.panel .panel-body a {
    overflow: hidden;
}

.panel .panel-body a img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.panel .panel-body a.zoom:hover img {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
}

.panel .panel-body a.zoom span.overlay {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}

.panel .panel-body a.zoom:hover span.overlay {
    display: block;
    visibility: visible;
    opacity: 0.55;
    -moz-opacity: 0.55;
    -webkit-opacity: 0.55;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

.panel .panel-body a.zoom:hover span.overlay i {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;
    font-size: 4em;
    color: #fff !important;
    text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.panel .panel-footer {
    padding: 8px !important;
    background-color: #f9f9f9 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.panel .panel-footer h4 {
    display: inline;
    font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #34495e;
    margin: 0 !important;
    padding: 0 !important;
}

.panel .panel-footer i.glyphicon {
    display: inline;
    font-size: 1.125em;
    cursor: pointer;
}

.panel .panel-footer i.glyphicon-thumbs-up {
    color: #1abc9c;
}

.panel .panel-footer i.glyphicon-thumbs-down {
    color: #e74c3c;
    padding-left: 5px;
}

.panel .panel-footer div {
    width: 15px;
    display: inline;
    font: 300 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #34495e;
    text-align: center;
    background-color: transparent !important;
    border: none !important;
}

.modal-title {
    font: 400 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
}

.modal-footer {
    font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}

.my-mfp-popup .mfp-content {
    text-align: center;
    width: 50%;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

.custom-uploader input[type="file"] {
    display: none;
}

.custom-uploader .custom-uploader-images-list {
    padding-left: 0;
}

.custom-uploader .custom-uploader-images-list li {
    height: 100px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 0 3px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #707070;
    background-color: #fafafa;
    border: 2px solid #fff;
    box-shadow: 1px 1px 1px #000;
}

.custom-uploader .custom-uploader-images-list li button {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.custom-uploader .attachments-item__button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: opacity .3s;
}

.custom-uploader .button-round {
    height: 32px;
    width: 32px;
    fill: #fff;
    background-color: indianred;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.colors-inversion .button-round {
    background-color: darkgreen !important;
}

.custom-uploader .button-round i {
    color: #fff;
    font-size: 45px;
}

.custom-uploader .custom-uploader-images-list li:hover .attachments-item__button {
    opacity: 0.7;
}

.custom-uploader .custom-uploader-images-list li:hover {
    opacity: 1 !important;
}

.custom-uploader .files-hint {
    font-style: italic;
    font-size: 12px;
    display: none;
}

button.processing {
    opacity: 0.3;
    transition: opacity .3s;
}

.custom-uploader .custom-uploader-images-list li:first-child button i {
    font-size: 45px;
    width: auto;
    vertical-align: middle;
}

.approve-image i.fa-close {
    display: none;
}

.approve-image i.fa-check {
    display: block;
}

.approve-image.of-course i.fa-close {
    display: block;
}

.approve-image.of-course i.fa-check {
    display: none;
}

.custom-uploader .custom-uploader-images-list li .approve-image.of-course {
    opacity: 0.5;
    background-color: darkgreen;
}

.colors-inversion .approve-image.of-course {
    background-color: indianred !important;
}

#send-data-to-man .files-hint {
    display: block;
}

.custom-uploader .custom-uploader-images-list li .attachments-item__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 18px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.custom-uploader .custom-uploader-images-list li .attachments-item__info i {
    vertical-align: text-top;
}

ul#product-images {
    list-style: none;
    padding: 0;
}

.images-labels {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.zoom:hover .images-labels {
    display: none;
}

.images-labels .image-label {
    display: none;
    padding: 4px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin: 3px;
    width: auto;
    font-size: 12px;
    font-weight: bold;
}

.images-labels .image-label.show {
    display: inline-block !important;
}

.images-labels .image-label.main-image {
    background-color: orangered;
    color: #fff;
}

.images-labels .image-label.unpublished-image {
    background-color: dimgrey;
    color: #fff;
}

.nav-tabs-custom .nav-tabs .has-errors a {
    color: red;
}

.nav-tabs-custom .nav-tabs a {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.nomt {
    margin-top: 0 !important;
}

.mce-label {
    max-width: none !important;
}

.marginTop {
    margin-top: 15px;
}

.answerAdd {
    padding: 3%;
}

.label-blue {
    background-color: #005fb3 !important
}

.label-violate {
    background-color: #9900cc !important
}

.label-shit {
    background-color: #663300 !important
}

.label-not-finish {
    background-color: #00f9ff !important;
    color: #000 !important
}

.bg-brown {
    color: #fff !important;
    background-color: #663300 !important;
}

.radio-group {
    display: inline-block;
}

.order-item {
    display: block;
    /*padding: 1%;*/
}

.orders-graph-main-page {
    max-width: 100%;
}

.selects-for-orders-graph .form-group {
    display: inline-block;
}

.selects-for-orders-graph .control-label {
    display: block;
}

.selects-for-orders-graph {
    /*margin-left: 1em;*/
}

.for-graph-orders-item-select {
    width: 30em !important;
}

@media (max-width: 1200px) {
    .for-graph-orders-item-select {
        width: 20em !important;
    }
}

@media (max-width: 900px) {
    .for-graph-orders-item-select {
        width: 10em !important;
    }
}

.hide-for-accessories.active, .hide-for-fact-address.active {
    display: none;
}

/*.pageList{*/
/*padding:3%;*/
/*}*/
